// MTAERIAL DESIGN

// Variables and mixins
@import "../../../vendor/material-design-lite/src/variables";
@import "../../../vendor/material-design-lite/src/mixins";

// Resets and dependencies
@import "../../../vendor/material-design-lite/src/resets/resets";
@import "../../../vendor/material-design-lite/src/typography/typography";

// Components
@import "../../../vendor/material-design-lite/src/palette/palette";
@import "../../../vendor/material-design-lite/src/ripple/ripple";
@import "../../../vendor/material-design-lite/src/animation/animation";
@import "../../../vendor/material-design-lite/src/badge/badge";
@import "../../../vendor/material-design-lite/src/button/button";
@import "../../../vendor/material-design-lite/src/card/card";
@import "../../../vendor/material-design-lite/src/checkbox/checkbox";
@import "../../../vendor/material-design-lite/src/data-table/data-table";
@import "../../../vendor/material-design-lite/src/footer/mega_footer";
@import "../../../vendor/material-design-lite/src/footer/mini_footer";
@import "../../../vendor/material-design-lite/src/icon-toggle/icon-toggle";
@import "../../../vendor/material-design-lite/src/menu/menu";
@import "../../../vendor/material-design-lite/src/progress/progress";
@import "../../../vendor/material-design-lite/src/layout/layout";
@import "../../../vendor/material-design-lite/src/radio/radio";
@import "../../../vendor/material-design-lite/src/slider/slider";
@import "../../../vendor/material-design-lite/src/spinner/spinner";
@import "../../../vendor/material-design-lite/src/switch/switch";
@import "../../../vendor/material-design-lite/src/tabs/tabs";
@import "../../../vendor/material-design-lite/src/textfield/textfield";
@import "../../../vendor/material-design-lite/src/tooltip/tooltip";
@import "../../../vendor/material-design-lite/src/shadow/shadow";
@import "../../../vendor/material-design-lite/src/grid/grid";


// Servicepehere
// Constants
@import 'constants/_grid';
@import 'constants/_typography';
@import 'constants/_colors';
@import 'constants/_screen-sizes';

// Mixins
@import 'mixins/mixins';

// Icons
@import 'icons/icons';

// Components
@import 'components/search';
@import 'components/navigation';
@import 'components/spot';
@import 'components/cookies-prompt';
@import 'components/carousel';
@import 'components/overviewlistspot';
@import 'components/filteredlistspot';
@import 'components/public-user-interest-prompt';
@import 'components/external-links-disclaimer';
@import 'components/order-material/master';
@import 'components/form/master';
@import 'components/accordion';
@import 'components/register';
@import 'components/video';
@import 'components/_row-separator';
@import 'components/global-panel';
@import 'components/alerts';
@import 'components/language-selector';
@import 'components/_bliss-streaming-video';

// Layout
@import 'layout/master';


$blue: #023761;

header {
	background: $blue;
}
.navigation-service {
	color: #fff;
	ul {
		list-style: none;
	}
	a {
		color: #fff;
	}
	button {
		color: #fff;
	}
}

.logo {
	max-width: 130px;
	display: none;
}
