.EPiServerForms, body {
	.mdl-textfield--floating-label {
		text-align: left;
		&.Form__Element {
			margin-bottom: 0;
		}		
		&.is-focused, &.is-upgraded {
			.mdl-textfield__label {
				&:after {
					height: 2px;
					background-color: $color-accent;
				}
			}			
		}
		&.is-focused {
			.field-validation-error,
			.Form__Element__ValidationError {
				display: none;
			}
			.mdl-textfield__label {
				color: $color-grey-1;
			}
		}
		&.is-dirty {
			.mdl-textfield__label {
				color: $color-grey-2;
			}
		}
	}
	.FormStep {
		text-align: justify;
	}
	.mdl-textfield--floating-label,
	.mdl-textfield__label {
		font-family: $font-family-base;
		font-size: 1.1428rem;
		color: $color-grey-2;
		&:after {
			border-color: $color-grey-1;
		}
	}
	.mdl-textfield {		
		&__input {
			padding: 11px 0;
			resize: vertical;
		}
	}
	.ajaxform & {
		text-align: left;
	}
}
