.order-material-grouping {	
	@media all and (min-width: $desktop-size) {
		padding-top: 95px;
	}
	* {
		line-height: 1;
	}
	&-heading {
		padding: 10px;
		font-size: 1.285rem;
		background: $color-grey-light2;
		color: $color-grey-dark2;
	}
	&-list {
		margin: 0;
		padding: 0;
		list-style: none;
		border-top: solid 1px $color-grey-light2;
		li {
			border-bottom: solid 1px $color-grey-light2;
		}
		a {
			display: block;
			padding: 18px 10px;
			color: $color-grey-dark2;
			text-decoration: none;
		}
	}
}