/*
- Document  : typography.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-02-15
*/

// Imported fonts
@import url('//fonts.googleapis.com/css?family=News+Cycle');
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:700);

// Font families
$font-family-default:	'News Cycle', sans-serif;
$font-family-base:		Verdana, sans-serif;
$font-family-alt:       'Roboto Slab', serif;

