/*
- Document  : global-panel.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-02-24
*/

.global-panel {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background: $color-white;
    box-shadow: 0px 3px 7px 0px $color-trans-1;
    img {
        width: auto;
    }
	&-copy {
		display: none;
		max-width: 1240px;
		padding: 0 45px 65px;
		font-family: $font-family-base;
		font-size: 18px;
		line-height: 1.2;
		margin: 0 auto;
		color: $color-grey-light10;
		p {
			margin: 0;
		}
		h1, h2 {
			font-family: $font-family-base;
		}
		#logo {
			display: block;
			text-align: center;
			position: inherit;
			margin: 20px 0 40px;
		}
		.logo {
			position: inherit;
			margin: 0 auto;
			width: 114px;
		}
		.active & {
			display: block;
		}	
	}
	&-toggler {
		&-line {
			cursor: pointer;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 20px;
			background: $color-white;
			z-index: 1;
		}
		.active & {
			&:before {
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-bottom: 19px solid $color-accent;
                position: absolute;
                content: '';
                left: 50%;
                bottom: 11px;
                margin: 0 0 0 -11px;
            }
            .global-panel-logo {
                display: none;
            }
		}
	}
}