/*
- Document  : language-selector.scss
- Version   : 1.0.0
- Client    : Novartis ServiceSphere
- Date edit : 2016-03-22
*/

$language-selector-font-size: 1.15rem;
$language-selector-border-color: $color-grey-light2;
$language-selector-color: $color-grey-light5;
$language-selector-background-highlight: $color-accent;
$language-selector-color-highlight: $color-white;
$language-selector-font-family: $font-family-default;

select.language-selector {
	opacity: 0;
	position: absolute;
}
.language-selector {
	padding: 0 20px;
	&-spacer {
		visibility: hidden;
		height: 0;
		overflow: hidden;
		text-transform: none;
		padding-right: 1rem;
		padding-left: 1.1rem;
		display: none;
		@include tablet {
			display: block;
		}
	}
	&-wrapper {
		position: relative;
		min-width: 24px;
		top: 1px;
		width: 24px;
		height: 24px;
		overflow: hidden;
		@include tablet {
			width: auto;
		}
		.select2-container {
			text-align: right;
			margin-left: 1px;
			&--default {
				position: absolute;
				right: 0;
				&.select2-container--open .select2-selection--single .select2-selection__rendered {
					color: $language-selector-background-highlight;
					text-decoration: none;
				}
				@include hover {
					.select2-selection--single .select2-selection__rendered {
						text-decoration: none;
					}
				}
				.select2-selection--single {
					text-transform: none;					
					border: solid 1px transparent;
					border-bottom: 0;
					border-radius: 0;
					margin-top: -1px;
					min-width: 24px;
					background-color: transparent;
					.select2-selection__rendered {
						text-decoration: underline;
						color: $language-selector-color;
						display: none;
						line-height: 1.5;

						@include tablet {
							display: block;
							position: relative;
						}
					}
					.select2-selection__arrow {
						width: 24px;
						height: 24px;
					}
					.select2-selection__arrow b {
						width: 24px;
						height: 24px;
						background: url("../images/svg/language_selector.svg") no-repeat;
						background-size: cover;
						border: 0;
						top: 0;
						left: 0;
						margin: 0;
						@include tablet {
							border-color: $language-selector-background-highlight transparent transparent transparent;
							border-style: solid;
							border-width: 5px 4px 0 4px;
							height: 0;
							left: 50%;
							margin-left: -4px;
							margin-top: -2px;
							position: absolute;
							top: 50%;
							width: 0;
						}
					}
				}
			}
			@include tablet {
				&.select2-container--open {
					.select2-selection--single {
						border: solid 1px $language-selector-border-color;
						background-color: $language-selector-color-highlight;
					}
				}
			}
		}
	}
	&-open {
		.language-selector-wrapper {
			z-index: 9999;
			overflow: visible;
			width: auto;
			height: auto;
		}
		.select2-dropdown {
			border-radius: 0;
			z-index: 5005;
			border-top: solid 1px $language-selector-border-color;
			@include tablet {
				border-top: 0;
			}
		}
		.select2-container {
			&--default {				
				.select2-results__option[aria-selected=true] {
					color: $color-accent;
					background: transparent;
				}
				.select2-results {		
					margin: 0 0.71428rem;
				}
				.select2-results__options {					
					&:first-child {
						border-top: 0;
					}				
				}
				.select2-results__option {
					border-top: solid 1px $language-selector-border-color;
					font-family: $language-selector-font-family;
					font-size: $language-selector-font-size;
					transition: all 0.3s ease;
					text-align: right;
					white-space: nowrap;
					padding: 0.35714rem 0.78571rem;
					&:first-child {
						border-top: 0;
					}
				}
				.select2-results__option--highlighted[aria-selected] {
					background-color: transparent;
					color: $language-selector-background-highlight;
				}
			}
		}
	}
}