.clear {
    clear: both;
}

[class*="grid-"] {
    float: left;
/*    width: 100%;*/
    padding: 0;
/*    padding: 1.875rem 1.875rem 0 0;*/
}
.grid-content {
    background: #fff!important;
}
.sub-navigation:before {
    display: none;
}
.paddingLeft {
    padding-left: 5%;
}
.paddingRight {
    padding-right: 5%;
}


/********************/
/** Header Styling **/
/********************/

#secondary-menu .nav-mega {
    padding-right: 0;
}
#secondary-menu .nav-mega #afinitor-logo {
    width: 10%;
    display: inline-block;
}
#secondary-menu .nav-mega #afinitor-logo img {
    width: 100%;
    height: auto;
}
#secondary-menu .nav-mega .nav-mega-link {
    padding: 0 1.1rem;
    font-size: 0.9rem;
    vertical-align: bottom!important;
}
.grid-1-4 ul.sub-navigation-items > li > ul {
    margin-left: 15px;
}

/*********************/
/** Content Styling **/
/*********************/

.spot .content h2 * {
    font-weight: normal;
}

main {
    margin-top: 12rem;
}
main .grid {
    padding: 1.875rem!important;
    background: #fff;
}
main .grid .grid {
    padding: 0!important;
}
.tableRow {
    width: 100%;
}
.tableRow .grid-1-4 {
    background: #dcdcdc !important;
    width: 24.25%;
    margin-left: 1%;
     margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
}
.tableRow .grid-1-4:first-of-type {
    margin-left: 0;
}
.tableRow .grid-1-4 .spotContainer {
    padding: 1.4285rem;
    background: none !important;
}
.tableRow .grid-1-4 .spotContainer .content {
    padding: none;
}
.tableRow .grid-1-4 .spotContainer .content h2 {
    color: #6E1810;
}
.tableRow .grid-1-4 .spotContainer .content p {
    color: #55565A;
    font-family: Verdana,sans-serif;
    font-size: 1rem;
    line-height: 1.8;
}
.tableRow .grid-1-4 .spotContainer .content a.link {
    color: #6E1810;
}
.content-focused .content h2:first-of-type {
    margin-top: 1rem;
}

/*******************/
/** Table Styling **/
/*******************/

table tr th {
/*    font-size: 0.9em;*/
    text-align: left;
    padding: 5px;
}
table tr td {
/*    font-size: 0.9em;*/
    padding: 5px;
}















