
p {
/*    font-size: 0.875em;*/
    margin: 0 0 20px 0;
}
.text--block ul {
    font-size: 100%;
    padding: 0px;
    color: #231f20;
}
.text--block ul li {
/*    font-size: 0.875em;*/
    line-height: 1.5;
    margin: 0 0 20px 0;
    color: #231f20;
    list-style: none;
    padding-left: 15px;
    position: relative;
}
.text--block.noPadding {
    padding: 0;
}
.text--block ul li:before {
  content: "• ";
  color: #e40e63; 
  position: absolute;
  left: 0px;
  top: 0px;
}
.spotLayout-topimage .content {
    padding: 30px;
}
p {
    color: #231f20;
    font-weight: 400;
}
.cookies-prompt p {
    color: #fff;
}
.clear {
    clear: both;
}
.scale-with-grid {
    width: 80%;
    height: auto;
}
.alignCenter {
    text-align: center;
}
.addBottom {
    margin-bottom: 30px;
}
.paddingRight {
    padding-right: 5%;
}
.paddingLeft {
    padding-left: 5%;
}
.borderRight {
    border-right: 1px solid #231f20;
}
a img {
     border:none!important;
}
/*
.hide {
    padding: 20px 0;
}
*/
.backToTopButton {
    border: 1px solid #e50e63;
    width: 160px;
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #e50e63!important;
    font-size: 1.125em;
    line-height: 1em;
    position: relative;
}
.backToTopButton:after {
    content: "v";
    display: block;
    width: auto;
    height: auto;
    color: inherit;
    font-size: inherit;
    position: absolute; 
    right: 20px;
    top: 18px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.footNoteButton {
    margin-top: 20px;
    border: 1px solid #532e63;
    width: 180px;
    display: block;
    padding: 15px 20px;
    color: #532e63!important;
    font-size: 1em; 
    line-height: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.footNoteButton:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background:url(/siteassets/gb-portal/cosentyx-section/img/plus.png) no-repeat center center #532e63;
    background-size: 8px 8px;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 16px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    text-align: center;
}
.footNoteButton.active:after {
    background:url(/siteassets/gb-portal/cosentyx-section/img/minus.png) no-repeat center center #532e63;
    background-size: 8px 8px;
}
.showButton {
    border: 1px solid #fff;
    width: 180px;
    display: block;
    padding: 15px 20px;
    color: #fff!important;
    font-size: 1em; 
    line-height: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.showButton:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background:url(/siteassets/gb-portal/cosentyx-section/img/plusPurple.png) no-repeat center center #fff;
    background-size: 8px 8px;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 16px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    text-align: center;
}
.showButton.active:after {
    background:url(/siteassets/gb-portal/cosentyx-section/img/minusPurple.png) no-repeat center center #fff;
    background-size: 8px 8px;
}

.text--block--purple {
    background: #512a5b !important;
}

.linkAlt {
    font-size: inherit!important;
    color: inherit!important;
    position: relative;
    display: block;
}
.linkAlt span {
    position: relative;
    -webkit-transition: .33s;
    transition: .33s;
    right: 0px;
}
.linkAlt:hover span {
    right: -5px;
}

main{    margin-top: 12rem;}
.sectionpage, .menu-is-ready, body {
    background: rgba(224,0,91,0.15) !important;
}

.grid{
    background:inherit;
    position: relative;
}

.padding {
    padding: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.grid-1-4 .padding {
    padding: 40px 35px;
}
.rowTable {
    display: table;
    width: 100%;
}
.rowTableCell {
    display: table-cell;
    height: 100%;
    float: none;
    vertical-align: top;
    position: relative;
}
.rowTableCell.bgImage {
    background:url(/siteassets/gb-portal/cosentyx-section/img/xraypurplebg.jpg) no-repeat center center ;
    background-size: cover;
}
.rowTableCell.bgImage p {
    text-indent: -10000px;
}

.bgLeap {
    background: #512a5b;
    background:url(/siteassets/gb-portal/cosentyx-section/img/gradientone.jpg) no-repeat center center ;
    background-size: cover;
}
.bgLeap .leapLogoImage {
    width: 100%;
    margin-top: 60px;
    text-align: right;
}
.bgLeap .leapLogoImage img {
    width: 100%;
    max-width: 250px;
}

.leap .header h4{
    margin:0 0 5px 0;
    font-size: 2.500em;
    color:#ffffff;
}
.leap .header p {
    font-size: 1.563em;
    width: 60%;
    max-width: 100%;
}

.bgPurple {
    background: #512a5b;
    background:url(/siteassets/gb-portal/cosentyx-section/img/strip_background.png) no-repeat center center ;
}
.bgWhite {
    background: #fff;
}
.bgPink {
    background: #e0005b;
}
.bgPalePink {
    background: #ef6ea1;
}


.bgGrey {
    background: #d1d2d4;
}
.bgPalePink .header,
.bgWhite .header {padding:20px;}

.bgDusky{
    background:#ddd5e0;
}

.bgDusky .header {padding:20px;}

.textWhite {
    color: #fff!important;
}
.textPurple {
    color: #512a5b!important;
}
.textPink {
    color: #e0005b!important;
}

.textBlue{ color: #0069B1 !important; }

/*******************************/
/** Background colors Styling **/
/*******************************/

.cos_bgGradient,
.cos_bgGradient_narrow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#df005b+0,532a5b+100 */
    background: rgb(223,0,91); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(223,0,91,1) 0%, rgba(83,42,91,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(223,0,91,1) 0%,rgba(83,42,91,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(223,0,91,1) 0%,rgba(83,42,91,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df005b', endColorstr='#532a5b',GradientType=1 )!important; /* IE6-9 fallback on horizontal gradient */
}
.

/****************/
/** Typography **/
/****************/

h1 {
    font-size: 3.750em;
    line-height: 1em;
    padding: 0; 
    color: #fff;
}
h1 + p {
   color: #fff; 
   margin: 0;
}
.text--block .figureText {
    font-size: 0.875em;
    margin: 0;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

/********************/
/** Header Styling **/
/********************/

.nav-mega-wrapper {
    z-index: 9;
}
.search-control-holder {
    z-index: 10;
}
.nav-mega-wrapper .nav-mega .logo-holder {
    height: auto;
}
.nav-mega-wrapper .nav-mega #logo .logo-wrapper img {
    height: auto;
}
#secondary-menu {
    height: auto;
    z-index: 99999!important;
}
#secondary-menu .nav-mega {
    padding: 35px 0;
}
#secondary-menu .nav-mega #cosentyx-logo {
    display: inline-block;
    width: 15%;
    max-width: 200px;
}
#secondary-menu .nav-mega .nav-mega-link {
    padding: 0 1.4rem 0 1.4rem;
    vertical-align: bottom!important;
    text-transform: capitalize;
    color: #1D1D27;
}
#secondary-menu .nav-mega #cosentyx-logo img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
#secondary-menu .nav-mega .nav-mega-link.menu-red {
    color: #e50e63;
}
#secondary-menu .nav-mega .nav-mega-link:hover {
    border-bottom-color: #e50e63;
    color: #e50e63;
}

/**************************/
/** main content Styling **/
/**************************/

#content {
    background: none;
}

/***********************/
/** Home Page Styling **/
/***********************/

.title_spot_block h2.title{
    font-weight:600;
    font-size: 3.750em;
}
.title_spot_block h4 {
    font-size: 1.563em;
}
.title_spot_block h2.titleSmall {
    font-weight:600;
    font-size: 2.500em;
    color: #fff;
}
.title_spot_block p {
     font-size: 1.563em;
    line-height: 1.4em;
    margin: 40px 0 0 0;
    color: #fff;
    width: 90%;
    font-weight: 400;
}
.title_spot_block .header, .title_spot_block .header p{
    width:95%;
    max-width:95%;
}

.add-pink{background-color:#e0005b !important;}
.add-purple{background-color:#512a5b !important;}
.add-dusky{background-color:#ddd5e0 !important;}
.add-light-pink {background-color:#dfcfd5 !important;}
.add-grad {background: url(/siteassets/gb-portal/cosentyx-section/img/gradientone.jpg) no-repeat right bottom;background-size: cover;}
.add-bgOne {background: url(/siteassets/gb-portal/cosentyx-section/home-page/img/whitebgxray.png) no-repeat right bottom;background-size: cover;}
.add-bgTwo {background: url(/siteassets/gb-portal/cosentyx-section/home-page/img/whiteBGXrayHip.png) no-repeat right bottom;background-size: cover;}

.pattern .header, .share-col .header{
    margin: 0 !important;
}
.title_spot_block h2.title,
.title_spot_block .header {
    left: 0;
}

.pattern .header h2, .share-col .header h2{
    text-transform: inherit;
    font-size:3.6rem;
/*    width:65%;*/
}
.pattern .header h2 {
    font-size: 2.500em;
    line-height: 1.4em;
}
.pattern .header h2 span {
    font-size: inherit!important;
    font-weight: inherit!important;
}
.event_spot_block .header.alignCenter {
    text-align: center;
}
.event_spot_block .header.alignCenter h2 {
    text-align: center;
}
.event_spot_block .header .icon {
    width: 110px;
    height: auto;
    margin: 20px auto;
    display: block;
}
.event_spot_block .header .icon.m4mIcon {
    width: 160px;
    height: 99px;
    background: url(/siteassets/gb-portal/cosentyx-section/home-page/img/m4mLogoSmall.png) no-repeat left top;
    background-size: cover;
    margin-top: 10px;
}
.event_spot_block .header .icon.phoneIcon {
    width: 98px;
    height: 101px;
    background: url(/siteassets/gb-portal/cosentyx-section/img/handPhone.png) no-repeat left top;
    background-size: cover;
    margin-top: 35px;
}
.rep a.link{
    margin-top: -110px;
}



.home .spot .backgroundColor-color7 {
    background-color: none!important;
}
.patternBG {
    background: url(/siteassets/gb-portal/cosentyx-section/img/patternbgone.jpg) no-repeat left top;
    background-size: cover;
}


.home .grid-1-4 p {
    font-size: 1.875em;
    line-height: 1.4em;
    margin: 0;
    color: #fff;
    font-weight: 100;
}
.home .grid-3-4 .bgPattern .padding {
    
}
.home .grid-3-4 .bgPattern .padding h2 {
    color: #fff;
    font-size: 3.750em;
    line-height: 1.2em;
    margin: 0 0 80px 0;
}
.home .grid-3-4 .bgPattern .padding h2 + p {
    margin: 0;
    text-align: right;
}
.home .grid-1-4 .bgGradient .padding {
    padding-bottom: 100px;
}
.home .grid-3-4 .bgPattern p a {
    color: #fff;
    font-size: 0.813em;
}



.purple>.header, .pink>.header, .white>.header, .grad>.header{
/*    padding: 25px;*/
/*
    height: 150px;
    max-height: 150px;
*/
}

.add-white .content_310 a.link {color:#e0005b !important;}

.grad > .header .icon  {
    width: 120px;
    height: 122px;
    margin: 20px auto;
}


.event_spot_block>.header h3{
color: #ffffff;
font-size:1.8rem;
font-weight:300;
margin:0;
padding:0;
}
.grad > .header h3 {
    color: #ffffff;
}
.grad > .header h3 a {
    color: inherit!important;
}
.grad .footnote {
    color: #fff;
    font-size: 0.8em;
    margin: 20px 0 0 0;
}
.event_spot_block .addPadding {
    padding: 20px;
}
.event_spot_block .addPadding p {
    color: #fff;
    font-size: 1.125em;
    margin: 0 0 20px 0;
}
.event_spot_block .addPadding .link,
.event_spot_block .addPadding .link:after {
    color: #fff;
}

.spot_block_248 > .header{
    height: 170px;
    max-height: 170px;
    padding: 0 10px 0 150px;
    margin-top: -60px;
}

.spot_block_248>.header h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 4rem;
}

.spot_block_248>.header h2:after{

    background-image: url('/siteassets/gb-portal/cosentyx-section/img/contact_rep.png');
    background-size: 140px 160px;
    display: inline-block;
    width: 140px;
    height: 160px;
    content: "";
    left: 100px;
    top: 60px;
    position: relative;

}

.content_248 span a.link {
    color: #ffffff !important;
    float: right;
    margin-top: 80px;
    font-size: 16px;
    font-weight: 400;
}

.early .header {
    top:40px;
    left: 20px;
    width: 85%;
}


.early .header p {
    max-width:inherit;
   font-size: 1.8rem;
}


.ei-list li:first-child{margin-bottom:20px;}

.cos-references{
    vertical-align: top; margin: 20px 0; font-size: 0.75rem;
}




.related h2 {
    font-size:1.375rem;
    font-weight:600;
    margin:0;
    position: relative;
    padding-left: 60px;
    color: #532e63;
}

.related h2:before{
     background-image: url('/siteassets/gb-portal/cosentyx-section/img/finger.png');
    background-size: 54px 40px;
    display: inline-block;
    width: 54px;
    height: 40px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
}
.related h2.noIcon {
    margin: 15px 0 ;
    padding: 0;
}
.related h2.noIcon:before {
    display: none;
}
.related .r--content a {
    color: #e40e63;
}
.quickLinks h2 {
    font-size:1.375rem;
    font-weight:600;
    margin:0;
    position: relative;
    padding-left: 60px;
    color: #532e63;
}
.quickLinks h2:before{
    background-image: url('/siteassets/gb-portal/cosentyx-section/early-intervention/img/quickLinkIcon.png');
    background-size: 40px 42px;
    display: inline-block;
    width: 40px;
    height: 42px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
}
.quickLinks .r--content:last-of-type {
    border-bottom: none;
}
.quickLinks .r--content .linkAlt,
.related .r--content .linkAlt {
    font-size: 1.250em!important;
    line-height: 1.2em!important;
    margin: 0 0 5px 0;
    color: #fff!important;
}
.related .r--content .linkAlt {
    color: #e40e63!important;
}
.related h3{
font-size:1.2rem;
font-weight:600;
}


.related p{
font-size:1.125em;
max-width:100% !important;
/*font-weight:300;*/
}


.r--content{
    padding: 20px 0;
}

.r--content a{
    font-size:1.250em;
    line-height:1.2em;
    margin: 0 0 5px 0;
    color: #fff;
}

.r--content:first-of-type{border-bottom: 1px #512a5b solid;}


.inherit-bg{background: inherit;}

/**************************/
/** SideBar Page Styling **/
/**************************/

.headingSection .grid-content h1 {
    font-weight: 600;
    font-size: 2.500em;
    color: #fff;
    font-style: normal !important;
    padding: 0;
    margin: 0;
    text-transform: none;
}
.headingSection .grid-content p {
    font-size: 1.563em; 
    line-height: 1.4em;
    margin: 70px 0 0 0;
}
.content-heading-img  {
    display: none;
}
.grid-3-4 .grid-1-2 {
    width: 50%;
}
.grid-content {
    padding-left: 0px;
    padding-right: 1.875rem;
    background: none!important;
}
.grid-content .icons {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
}
.sectionHeading h3 {
    font-size: 1.563em;
    line-height: 1.4em;
    margin: 0;
    color: #fff;
}
.sectionHeading h4 {
    color: #fff;
    font-size: 1.250em;
    line-height: 1.2em;
    margin: 0;
}
.sectionHeading h4.addBottom {
    margin-bottom: 30px;
}
.sectionHeading p {
    margin: 0;
    color: #fff;
    font-size: 1.250em;
    line-height: 1em;
}
.text--block h3 {
    color: #e50e63;
    font-size: 1.563em;
    padding: 0px;
    margin: 0 0 15px 0;
    font-weight: bold;
}
.text--block h3.purpleText {
    color: #532e63;
}
/*
.text--block h3 + p {
    font-size: 1.563em;
    line-height: 1em;
}
*/
.text--block h5 {
    color: #532e63;
    font-size: 1.125em;
    line-height: 1.2em;
    margin: 0 0 20px 0;
}
.text--block h5.pinkText {
    color: #e40e63;
    margin: 0 0 10px 0;
}
.stickySidebar {
/*
    position: -webkit-sticky; 
    position: sticky;
    top: 20px;
*/
    
}
.sideBar .addBottom {
    margin-bottom: 30px;
}
.sideBar .contactRepBox .header {
    margin: 0;
    text-align: center;
    padding: 26px 10px;
}
.sideBar .contactRepBox .header .icon {
    width: 80px;
    margin: 0 0 26px 0;
    height: auto;
}
.sideBar .contactRepBox .header h3 {
    color: #fff;
    font-size: 1.563em;
    font-weight: bold;
}
.text--block .cos-abv {
    font-size: 0.813em; 
    line-height: 1.2em;
    margin: 0 0 20px 0;
}
.text--block .cos-references {
    font-size: 0.813em; 
    line-height: 1.2em;
    margin: 0 ;
}

/*******************/
/** Icons Styling **/
/*******************/

.grid-content .text--block .icon {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.grid-content .text--block .iconSingle img {
    width: 22%;
    height: auto;
}
.grid-content .text--block .icon.iconDouble {
    width: 70%;
    margin: 0 auto;
}

.grid-content .text--block .icon.iconMultiple {
    width: 80%;
    margin: 0 auto;
}

/**********/
/** Tabs **/
/**********/

.tabs ul {
    margin: 20px 0;
/*    float: none;*/
    border-bottom: 10px solid #e50e63;
    padding: 0;
}
.tabs ul li {
/*    float: left;*/
    display: inline-block;
    list-style: none;
    width: 33.2%;
    margin: 0 0.2% 0 0;
}
.tabs ul li:last-of-type {
    margin-right: 0;
}
.tabs ul li a {
    display: block;
    padding: 20px 40px;
    background: #fff;
    color: #000;
    position: relative;
    font-size: 0.875em;
    line-height: 1em;
}
.tabs ul li a:before {
    background: none;
    content: '>';
    font-size: 13px;
    position: absolute;
    width: 6px;
    height: 10px;
    right: 55%;
    bottom: 20px;
    -webkit-transition: .33s;
    transition: .33s;
    color: inherit;
}
.tabs ul li a:hover:before {
    right: 54%;
}
.tabs ul li a.active {
    background: #e50e63;
    color: #fff;
}
.patternBG .ankylosingSpondylitis .header h2 {
    font-size: 2.500em;
    line-height: 1.2em;
    color: #fff;
}
.tabs.internalTabs ul {
    padding-top: 10px;
    margin: 0 0 20px 0;
    border-bottom-color: #532e63;
}
.tabs.internalTabs ul li {
    width: 49.8%;
    padding: 0;
    margin: 0;
}
.tabs.internalTabs ul li a {
    padding: 22px 30px 20px 30px;
    background: #947f9c;
    color: #fff;
    font-size: 0.875em;
}
.tabs.internalTabs ul li a.active {
    background: #532e63;
}
.tabs.internalTabs ul li:before,
.tabs.internalTabs ul li a:before {
    display: none;
}

/*****************/
/** Quick links **/
/*****************/

.alignRight {
    text-align: right;
}
.internalLinks {
    margin: 0;
    padding: 0;
    list-style: none;
}
.internalLinks li {
    display: inline-block;
    color: #1d1d1b;
/*    font-size: 1.250em;*/
    line-height: 1em;
    border-right: 1px solid #1d1d1b;
    padding: 0 10px 0 0;
    margin: 0 5px 0 0;
}
.internalLinks li a {
    color: #0762ab;
    text-decoration: none;
}
.internalLinks li:first-of-type, 
.internalLinks li:last-of-type {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

/********************/
/** Resources Page **/
/********************/


.resourcesDownload {
   border-right: 3px solid rgba(224,0,91,0.15); 
   margin-bottom: 3px;
   min-height: 350px;
}
.resourcesDownloadBW {
    border-right-color: #fff;
}
.resourcesDownload .iconRight {
    position: relative;
    padding-right: 100px;
}

.resourcesDownload .iconRight p strong {
    font-weight: 700;
}
.resourcesDownload .iconRight p.addBottom {
    margin-bottom: 45px;
}
.resourcesDownload .iconRight .iconDownload {
    width: 22px;
    position: absolute;
    right: 0;
    top: 10px;
}  
.text--block .iconBox {
    width: 175px;
    float: left;
}
.text--block .iconBox img {
    width: 140px;
}

/***************/
/** Footnotes **/
/***************/

.footnotes {
    display: none;
    padding: 20px 0;
}
.footnotes h6 {
    position: relative;
    color: #532e63;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}
.footnotes h6:hover {
    cursor: pointer;
}
.footnotes h6:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #532e63;
    position: absolute;
    left: 15%;
    top: 35%;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.footnotes h6.active:before {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**********************/
/** DropDown styling **/
/**********************/

.iconRight .content .header h3 {
    margin-bottom: 30px;
}
.iconRight .content {
    padding-right: 200px;
    padding-bottom: 25px;
    position: relative;
}
.iconRight .content .icon {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 20px;
    top: 15px;
    margin-right: 0;
}
.iconRight .content .iconCalendar {
    width: 100px;
    height: 100px;
}
/*
.iconRight .content .showButton {
    width: 140px;
    border: 1px solid #fff;
    padding: 14px 18px;
    display: block;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    position: relative;
}
.iconRight .content .showButton:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff;
    position: absolute;
    right: 20%;
    top: 45%;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.iconRight .content .showButton.active:before {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
*/

/**********************/
/** M4M page styling **/
/**********************/

.missionForMovementContent {
    background: url(/siteassets/gb-portal/cosentyx-section/img/mission4movementbg.jpg) no-repeat right bottom;
    background-size: cover;
}
.missionForMovementContent .m4mLogo {
    width: 100%;
    height: auto;
    max-width: 530px;
    margin: 60px 0 40px 0;
}
.missionForMovementContent h2 {
    color: #e40e63;
    font-size: 1.563em;
    line-height: 1em;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
#content .grid .missionForMovementContent p {
    color: #231f20;
    font-size: 1.125em;
    line-height: 1.4em;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#content .grid .missionForMovementContent p a {
    color: #0069b1;
}
.bannerBGText {
    background: url(/siteassets/gb-portal/cosentyx-section/img/bannergradbg.png) repeat-x top right;
    padding: 20px ;
    margin-bottom: 120px;
    background-size: 100%;
}
#content .grid .missionForMovementContent .bannerBGText p {
    margin: 0; 
    padding: 0;
    font-size: 1.250em;
}

/******************/
/** Form Styling **/
/******************/

.block .textBlock {
    background: #fff;
    padding: 16px 30px 60px 30px;
}
.block .textBlock form {
    width: 50%;
}
.block .textBlock form .FormTextbox__Input {
    border: 1px solid #532e63;
    padding: 20px 15px;
    width: 100%;
}
.block .textBlock form .FormTextbox__Input::placeholder {
   color: #434343;
}
.block .textBlock form .Form__Element__ValidationError {
    color: #fff!important;
    background: red;
    padding: 10px 15px!important;
}
.block .textBlock form .Form__Element__Caption {
    margin: 0;
    color: #434343;
    font-size: 14px;
    line-height: 1em;
    top: 38px;
    left: 15px;
}
.block .textBlock form .is-focused .Form__Element__Caption {
    top: 20px;
    left: 15px;
}
.block .textBlock form h3 {
    font-size: 1.563em;
    color: #532e63;
    font-weight: bold;
    margin: 20px 0;
}
.block .textBlock form .FormChoice .Form__Element__Caption {
    padding: 20px 15px;
    background: #532e63;
    color: #fff;
    line-height: 1em;
    font-size: 1.125em;
    margin: 0 0 10px 0;
}
.block .textBlock form .FormChoice .mdl-checkbox {
    width: 100%;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    line-height: 1em;
    color: #532e63;
    margin: 0;
}
.block .textBlock form .FormChoice .mdl-checkbox.is-checked {
    background: #e40e63;
    color: #fff;
}
.block .textBlock form .FormChoice .mdl-checkbox .mdl-checkbox__box-outline {
    top: 6px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-color: #532e63;
    background-color: #fff;
}
.block .textBlock form .FormChoice .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    background: none;
    background-color: #fff!important;
    background-image: url(/siteassets/gb-portal/cosentyx-section/img/tick.jpg);
    background-size: 12px 11px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-mask: none!important;
    mask: none!important;
    border-color: #e40e63!important;
    
}
.block .textBlock form .FormChoice .mdl-checkbox.is-checked .mdl-checkbox__box-outline .mdl-checkbox__tick-outline {
    background: none!important;
    background-color: #fff;
}

.block .textBlock form p {
    color: #2071b7;
    font-size: 1.250em;
    line-height: 1.4em;
    margin: 15px 0;
}
.block .textBlock form #login > button, 
.block .textBlock form .mdl-button {
    background-color: #532e63!important;
    border-color: #532e63!important;
}




@media (max-width: 1024px){
    main {
/*        margin-top: 0;*/
    }
    .grid {
        padding: 0 15px;
        position: inherit;
    }
    .grid .grid-1-4 {
        width: 25%!important;
    }
    .grid .grid-1-4 .grid,
    .grid .grid-3-4 .grid {
        padding: 0;
    }
    .content_410 {
        max-height: 500px;
        height: 500px;
    }
    .content_310 {
        height: 310px;
        max-height: 310px;
    }
    #secondary-menu .nav-mega .nav-mega-link {
        padding: 0 1rem 0 1rem;
        vertical-align: bottom!important;
        font-size: 0.8rem;
    }
    .inherit-bg{display:none; !important}

    .early .header {
        top:60px;
        left: 0px;
        width: 85%;
    }

    .event_spot_block>.header h3 {
        font-size:1.4rem;
    }

    .spot_block_248>.header {
        height: 170px;
        max-height: 170px;
        padding: 0 10px 0 10px;
        margin-top: 0; 
    }

    .spot_block_248>.header h2:after{
        background-image: none;
        content: none;
    }

    .r--content {
        padding: 20px;
        width: 90%;
    }

    .cos-references{
        margin: 20px;
    }
    .bannerBGText {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .block .textBlock form {
        width: 80%;
    }
}

@media (max-width: 768px){
    .nav-mega-wrapper {
        position: fixed;
    }
    #secondary-menu .nav-mega {
        padding: 35px 15px;
    }
    #secondary-menu .nav-mega .nav-mega-link {
        padding: 0 0.5em;
    }
    .grid-content {
        padding-right: 0;
    }
    .grid .grid-1-4 {
        width: 50%!important;
    }
    .content_410 {
        height: 100%;
        max-height: 100%;
    }
    .block .textBlock form {
        width: 80%;
    }
    .grid-2-3 {
        width: 100%;
    }
    .bgImage {
        display: none;
    }
    .title_spot_block h2.title,
    .title_spot_block .header {
        top: 0px;
    } 
    .grid .grid-content-sidebar {
        width: 100%!important;
    }
    .grid .grid-content .mobileFooterContent {
        display: none;
    }
    .sideBar {
        margin-top: 20px;
    }
    .mobileHide {
        display: none;
    }
    .mobileFooterContent {
        padding: 30px 15px 0 15px;
        
    }
    .mobileFooterContent .block {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 767px){
    .nav-overlay {
        z-index: 8;
    }
    main {
        margin-top: 4rem;
    }
    .title_spot_block h2.title {
        top: 0;
        font-size: 3em;
    }
    .title_spot_block .header {
        top: 0;
    }
    .content_410,
    .content_310 {
        max-height: 100%!important;
        height: 100%;
    }
    .content_410.bgImage {
        height: 400px;
        max-height: 400px!important;
    }
    .content_310 {
        min-height: 250px;
    }
    .grid-content {
        padding-right: 0;
    }
    .grid .grid-1-4 {
        width: 100%!important;
    }
    .missionForMovementContent {
        background: none;
    }
}
@media (max-width: 414px){
    .block .textBlock form {
        width: 100%;
    }
}



