.order-material {
	section[data-epiforms-stepindex="2"] {
		.FormStep__Title {
			margin-bottom: 1.875rem;
		}
		.FormChoice {
			margin-top: 2.125rem;
			&.FormChoice--Image {
				margin-top: 0;
			}
		}
	}
    .grid-1-2 {
        h1 { 
            margin: 20px 0;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
	.grid-1-4 {
		width: 100%;
		@media all and (min-width: $desktop-size) {
			width: 25%;
		}
	}
}

/* Numeric Input for Order Material */
.omt-max { 
    font-size: .75em;
	margin: 4px 0; 
}

/* Stupid Fix - Why is There a body .order-material etc. rule? */
body .order-material-form-element-input[disabled], .EPiServerForms .order-material-form-element-input[disabled] {
    background: none;
    border: 0;
    + .omt-max { 
        display: none; 
    }
}

/* Order Material Edit */
.omt-edit {
    width: 100%;
    border-spacing: 0;
    &-img { 
        max-width: 125px; 
        img { margin: 1em 0; }
    }
    &-label { 
        text-align: right;
        text-decoration: underline; 
        span { cursor: pointer; }
    }
    &-title {
        margin: 0 0 0 1em;
    }
    &-update { 
        color: $color-accent; 
    }
    td { 
        border-bottom: 1px solid $color-grey-light4; 
        padding: 0 1rem 2rem 0;
    }
}

.omt-edit-first {
    &.Form__Element { margin-bottom: 0; }
    td {
        border: 0;
        &:nth-of-type(1) { width: 35%; img { width: 90%; } }
        &:nth-of-type(2) { width: 15%; }
        &:nth-of-type(3) { width: 50%; }
        input[type=number] { -moz-appearance: textfield; }
    }
}

.omt-edit-image {
    position: relative;
    vertical-align: top;
    svg { width: 80%; margin: 3px; fill: #fff; }
    &-zoom { position: absolute; top: 0; width: 2rem; height: 2rem; background-color: #888; text-align: center; cursor: pointer; }
}

/* Overview Block */
.ordermaterialoverviewblock {
    background: $color-grey-light6;
	margin: 95px 0 0 0;
    text-align: left;
    padding: 2.5% 5%;
    
    h4 {
        text-transform: uppercase;
        color: $color-accent;
        margin: 0;
    }
}
#omt-total {
    margin: 2.5% 0;
}

.form-button {
    @include button(#fff, $color-accent, $color-accent, $color-accent, #fff);
    padding: 0;
    text-transform: uppercase;
    border-radius: 0;
	line-height: 2em;
	height: 2.5em;
    width: 10em;
    &[disabled] { display: none; }
}
.btn-left { float: left; }
.btn-right { float: right; }


/* REQUEST MEDICAL REPRINT : MOVE TO SEPERATE STYLESHEET */
%h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: ($grid-gutter*1.5);
}
.Form__Title {
    @extend %h1; 
    font-size: 2em;
    padding: 0;
}
.requestmedicalreprintsearchblock { 
    padding: 0; 
}
.request-medical-reprint {
    &-block {
        @extend %clearfix;
        background: $color-grey-4;
        padding: 1rem;
        & > p { width: 50%; float: left; }
    }
    &-form-element-details,
    &-result {
        h4 { 
            color: $color-accent; 
            border-bottom: 1px solid $color-grey-1;
            padding: 1rem 0 2rem 0;
        }
        ul { margin: 0; padding: 0; }
        li { list-style-type: none; }
        table {
            margin: 1rem 0;
            table-layout: fixed;
            width: 100%;
            border-bottom: 1px solid $color-grey-1;
            td { 
                padding: 1rem 0;
                img { max-width: 90%; }
                .form-button {
                    text-decoration: none;
                    padding: 0.27rem 1.57rem 0.47rem 1.57rem;
                    font-size: 14px;
                    width: auto;
                }
            }
            td:nth-of-type(1) { min-width: 35%; }        
            td:nth-of-type(2) { min-width: 50%; }
            td:nth-of-type(3) { text-align: right; vertical-align: bottom; }
        }
    }
    &-search {
        max-width: 50rem;
        h1 { @extend %h1; }
        &-text {
            width: 70%;
            height: 2.5em;
            padding: 4px 8px 5px 8px;
	        margin: 0 2.5% 0 -1px;
        }
        .form-button { width: 25%; }
    }
}