.EPiServerForms .Form__NavigationBar .Form__NavigationBar__Action,
.mdl-button {
	font-family: $font-family-default;
	border-radius: 0;
	min-width: 10rem;
    width: auto;
	height: 36px;
	background-image: none;
	@include hover {
		background: transparent;
	}
}
.morph-button {
    position: inherit;
}
.EPiServerForms .Form__NavigationBar .Form__NavigationBar__Action,
.mdl-button--accent.mdl-button--accent {
	&.mdl-button--raised, &.mdl-button--fab {
		background-color: #133960;
		border: 1px solid #133960;
		box-shadow: none;
		color: $color-white;
		@include hover {
			background-color: $color-accent;
			border-color: $color-white;
			color: $color-white;
		}
	}
}
.morph-form .mdl-button {
	transition: all .3s ease;
	@include hover  {
		background: $color-accent;
		color: $color-white;
	}
}
.ajaxform {
	.mdl-button[type=submit] {
		&[disabled] {
			display: block;
			opacity: 0.5;
		}
	}
}
.EPiServerForms .Form__NavigationBar .Form__NavigationBar__Action {
	margin-left: 0.71428rem;
	&.btn-left {
		margin-left: 0;
	}
}
.EPiServerForms {
	.mdl-button {
		border-radius: 0;
		margin-left: 0.71428rem;
		&.btn-left {
			margin-left: 0;
		}
		&[disabled] {
			display: none;
		}
	}
	.Form__Element.FormSubmitButton {
		float: left;
		margin-left: 0rem;
		margin-top: 0rem;
	}
}
.no-touch form .mdl-button:hover
.no-touch .EPiServerForms .mdl-button:hover {
    background: $color-accent;
    color: $color-white;
}
.btn-outline {
    background: $color-white;
    border: solid 1px $color-accent;
    padding: 9px;
    width: 100%;
    color: $color-accent;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 0.8;
	transition: all .3s ease;
	@include hover {
		background: $color-accent;
        color: $color-white;
	}
}