body .order-material-form-element,
.EPiServerForms .order-material-form-element {
	font-family: $font-family-base;
	color: $color-grey-light3;
	padding: 2.571rem 0;	
	&.Form__Element {
		margin-bottom: 0;
	}
	@media all and (min-width: $tablet-size) {
		width: 50%;		
		padding-right: 10px;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
	}
	.EPiServerForms & {
		padding: 2.428rem 0;
		margin: 0;
	}
	figure {
		width: 8.571rem;
		float: left;
		margin-right: 0.714em;
		max-height: 7.542rem;
		overflow: hidden;
	}
	&-title {
		padding: 0.4285rem 0;
		margin: 0;
		font: bold 1rem/1 $font-family-base;
	}
	&-details {
		overflow: hidden;
	}
	&-copy {
		font-size: 0.857rem;
		line-height: 1.5;
		padding-bottom: 1.1428rem;
		* {
			font-family: $font-family-default;
			font-size: 0.857rem;
			line-height: 1.5;
			margin: 0;
		}
	}
	&-input {
		border: solid 1px $color-grey-light4;
		width: 3rem;
		height: 2rem;
		font-size: 0.857rem;
		line-height: 1.75rem;
		text-align: center;
		color: $color-grey-light3;
	}
}