main{    margin-top: 12rem;}

#haem-logo {
    margin-right: 30px;
}
#haem-logo img {
    max-width: 200px;
}

.content_300 {
    height: 300px;
    max-height: 300px;
}
.bgImage {
    width: 100%;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}


/*************/
/** Nav bar **/
/*************/


#secondary-menu {
    height: auto!important;
    padding-bottom: 10px;
}

#secondary-menu>.nav-mega>a.nav-mega-link {
    padding-top: 2.5rem;
}

.nav-mega-wrapper {
    -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
body.menu-is-ready > div.nav-mega-wrapper {
    display: block;
    top: -50px;
}
.menu-is-ready .nav-mega-wrapper {
    -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
    z-index: 20001!important;
}

.haem_ec_background{
background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/haem_event_bg.png);
height:310px;
max-height:310px;
    background-size: cover;
}

.spotLayout-topimage .haem_ec_background.content_310 a.link {
    float: none;
    position: absolute;
    left: 40px;
    bottom: 50px;
}



.haem_past_background{
background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/haem_past_bg.png);
height:310px;
max-height:310px;
}

.haem_background{
background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/haem_home_bg.png);
background-position: right center;
background-repeat:no-repeat;
background-color: #e30613;
}


.grey_background{
    background-color:#dadada;
}

.blue_background{
background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/haem_blue_bg.png);
}
.white_background {
    background: #fff;
}
.white_background .title_spot_block h2.title {
    color: #1d70b7;
    font-size: 2.500em;
    line-height: 1em;
    margin: 0 0 20px 0;
}
.white_background .title_spot_block .header h4 {
    font-size: 1.563em;
    color: #1d70b7;
    line-height: 1.4em;
}

.red_background{
/*
background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/event_bg.png);
background-repeat:no-repeat;
background-position: center center;
*/
    background-color: #f6f7f7;
    border-top: 5px solid #e30613;
    border-bottom:5px solid #7f1210;
    background-image: 
        linear-gradient(#e30613, #7f1210),
        linear-gradient(#e30613, #7f1210),
        url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/event_bg.png)
    ;
    background-size:5px 100%, 5px 100%, cover;
    background-position:0 0, 100% 0, bottom right;
    background-repeat:no-repeat, no-repeat, no-repeat;
}



.red_background_nvs{
/*
background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/event_bg_nvs.png);
background-repeat:no-repeat;
background-position: center center;
*/
background-color: #f6f7f7;
    background-color: #f6f7f7;
    border-top: 5px solid #e30613;
    border-bottom:5px solid #7f1210;
    background-image: 
        linear-gradient(#e30613, #7f1210),
        linear-gradient(#e30613, #7f1210),
        url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/event_bg_nvs.png);
    ;
    background-size:5px 100%, 5px 100%, cover;
    background-position:0 0, 100% 0, bottom right;
    background-repeat:no-repeat, no-repeat, no-repeat;
}

.grid .bgImage {
    background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/haem_event_bg_Alt.png);
    background-size: 90%;
    background-position: left top;
    background-repeat: no-repeat;
/*    background-color: #cb0b0f;*/
}

.grid .gradientBackground {
    background: url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/blueGradientBGSmall.png) no-repeat left top; 
    background-size: cover;
    background-color: none!important;
}
.grid .gradientBackground .bgImageBlueGrad {
    background-color: none!important;
}
.grid .gradientBackground .backgroundColor-color7 {
    background-color: none!important;
}

.grid .bgImage .backgroundColor-color7 {
    background: none;
}
.event_background_left{
/*	background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/events/img/eventbackground_left.jpg);*/
}

.event_background_right{
/*	background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/events/img/eventbackground_right.jpg);*/
}
/*
#content_97426 {
    background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/haem_event_bg_Alt.png);
    
}
*/

a.menu-red {color:#cb0b0f !important}

.title_spot_block h4 {
    font-size: 1.563em;
}
.title_spot_block p {
    max-width: 100%;
}
.filter--block{
	padding:10px;
}


.haem--link{
	width:inherit !important;
	margin-top:25px;
}

.event_spot_block > h2 {
	color: #ffffff;
    margin-top: 30px;
}

.event_spot_block > .header {

	display:inline-block;
}

.event_spot_block > .header > h4 {
	color: #ffffff;
	font-size:0.9rem;
	padding:0 10px 5px 0;
	margin: 0.875rem 0;
	line-height: 1rem;
}

.event_spot_block > .header > h4.underline{
	border-bottom: 1px solid #fff; 
}


.red{
	padding:15px;
}

.red > h2 {
	color: #1d1d1b;
    margin-top: 30px;
    max-height:80px;
    height:80px;
}

.red > .header {
	margin-bottom: 20px;
	display:inline-block;
}

.red > .header > h4 {
	color: #1d1d1b;
	font-size:0.9rem;
	padding:0 10px 5px 0;
	margin: 0.35rem 0;
	line-height: 1rem;
}

.red > .header > h4.underline{
	border-bottom: 1px solid #1d1d1b;
}


.spotblock .red_background a.link, .spotblock .red_background_nvs a.link{
	float:left;
	color: #1d1d1b !important;
	font-size:0.9rem;
	margin: 40px 0 0 20px;
}

.spotblock .red_background a.link:after , .spotblock .red_background_nvs a.link:after {
	bottom:0;
}

.filter--block h2{
    background-image: url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/ec_filter_bg.png);
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;	
    margin-top:0;
}

.past-events{
    display: inline-block;
    margin: 30px 0;
}

.past-events a{
	color: #e30613;
	font-size: 1.2rem;
	text-decoration:underline !important;
}

.past-events a span.cal--icon{
    display: block;
    background: url("/siteassets/hcp-portal-master/therapy-areas/haematology/images/calendar_icon.png") no-repeat;
    width: 54px;
    height: 46px;
    float: left;
    margin: -10px 15px 0 0;
}

.filter--key p {
    position: relative;
    padding-left: 45px;
}

.filter--key p:before{
	content: "";
    display: block;
    background: url("/siteassets/hcp-portal-master/therapy-areas/haematology/images/nvs_icon_Color.png") no-repeat;
    width: 25px;
    height: 28px;
    float: left;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 5px;
}
.filter--key p.sponsoredBY:before{
    background: url("/siteassets/hcp-portal-master/therapy-areas/haematology/images/sponsoredByImage.png") no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
.filter--key p.newContent:before{
    background: url("/siteassets/hcp-portal-master/therapy-areas/haematology/images/starIcon.png") no-repeat;
    width: 30px;
    height: 27px;
    background-size: 30px 27px;
    top: 0px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {        
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #FFFFFF;
        border-radius: 0px;
        background: #FFFFFF;
        color: #e30613;
        font-size: 1.2rem;	
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #CCCCCC;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select select option{        
 		display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #FFFFFF;
        border-radius: 0px;
        background: #FFFFFF;
        color: #e30613;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
	}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #e30613 transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}

.haem--video{
    padding: 25px 50px;
    background: #000;
}

.haem--video .oo-control-bar{background: #000;}



.block-accordion-label{
	background-image:url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/accordian_blue_bg.png);
	max-height:310px;
	height:310px;
	padding:50px;
}

.block-accordion-label span{
	font-size: 2rem;
	font-family: "Roboto",sans-serif;
	color:#ffffff;
	display:block;
	width:40%;
	
}

.block-accordion-label:before {
    top: 260px;
    right: 50px;
    position: absolute;
    content: 'View Animation >';
    color: #fff;
}

.block-accordion .state:checked+label:before {
    content: 'Close >';
}


.block-accordion-text{
	padding: 20px;
    background: #0762AB;
    max-height:310px;
	height:310px;
}

.accordian--video{

}

.accordian--video .oo-control-bar{background: #0762AB;}
.styledList {
    padding: 0px;
    margin: 0 0 10px 20px;
}
.styledList li {
    margin: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 300;
}
.spotLayout-topimage .content {
    position: relative;
    padding-bottom: 65px;
}
.spotLayout-topimage .content .absolutePositionedBottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 25px;
    width: 100%;
}
.spotLayout-topimage .content .absolutePositionedBottom h4 {
    color: #023761!important;
}
.spotLayout-topimage .content .absolutePositionedBottom .widthHalf {
    display: inline-block;
    width: 49%;
}
.spotLayout-topimage .content .absolutePositionedBottom .widthHalf:last-of-type {
    text-align: right;
}
.spotLayout-topimage .content .absolutePositionedBottom .widthHalf h4 {
    margin: 0;
}
.spotLayout-topimage .content .absolutePositionedBottom .widthHalf .link {
    color: #023761;
    font-size: 0.813em;
}
.bgGrey {
    background-color: #e9e9e9;
}
.bgGreyOther {
    background-color: #e9e9e9;
}
.footerContent {
    padding: 40px 0 ;
}
.footerContent p {
    font-size: 1.125em;
    line-height: 1.6em;
    margin: 0 0 20px 0;
}
.footNote {
    margin: 20px 0;
}
.footNote p {
    font-size: 1.125em;
    line-height: 1.6em;
    margin: 0 0 10px 0;
}
.oo-player-container {
    padding: 10px;
    background: #000;
}
.oo-player-container .oo-player {
    padding-top: 40%!important;
}
.alignCenter {
    width: 66%;
    margin: 0 auto;
}

.grid-1-3.halfWidthColumn {
    width: 50%;
}

.productSummary h4 {
    margin: 0 0 20px 0;
}
.productSummary p {
    font-size:  1.4rem;
    color: #616b6f;
}
.productSummary p span {
    font-size: 80%;
}
.productSummary p sup {
    font-size: 80%;
}
.productSummary p a {
    text-decoration: underline!important;
}

footer[id=site-specifics] li a {
    top: 0px;
}
footer[id=site-specifics] li a:hover {
    text-decoration: underline!important;
}

#data-details {
    margin-top: 10px;
}
#data-details .event--link {
    width: 32.6666666667%;
    margin-left: 1%;
    margin-bottom: 1%;
}
#data-details .event--link:first-of-type {
    margin-left: 0;
}
#data-details .event--link:nth-of-type(4),
#data-details .event--link:nth-of-type(7),
#data-details .event--link:nth-of-type(10),
#data-details .event--link:nth-of-type(13) {
    margin-left: 0;
}

#content .grid .borderBottom {
/*    border-top: 3px solid #0762ab;*/
    margin: 0 0 30px 0;
    padding:50px 25px 0 25px;
}
#content .grid .borderBottom.borderBottomNone {
    border-top: none;
}
#content .grid .borderBottom h2 {
    color: #1d70b7;
    margin: 0;
    font-size: 2.063em;
    line-height: 1em;
    font-weight: 100;
    padding: 0;
}
#content .grid .textAlignRight {
    text-align: right;
}
#content .grid .internalLinks {
    margin: 0;
    padding: 0;
    list-style: none;
}
#content .grid .internalLinks li {
    display: inline-block;
    color: #1d1d1b;
    font-size: 1.250em;
    line-height: 1em;
    border-right: 1px solid #1d1d1b;
    padding: 0 10px 0 0;
    margin: 0 5px 0 0;
}
#content .grid .internalLinks li:first-of-type,
#content .grid .internalLinks li:last-of-type {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

#content .grid .internalLinks li a {
    color: #0762ab;
    text-decoration: none;
}
.videoEmbedContainer {
    padding: 25px;
}
.videoEmbedContainer h3 {
    color: #1d1d1b;
    font-size: 1.20em;
    margin: 0 0 35px 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #d11b19;
}
.videoEmbedContainer h3.addTop {
/*    padding-top: 21px;*/
}
.videoEmbedContainer p {
    color: #1d1d1b;
    margin: 0;
    font-size: 0.9em;
    line-height: 1.4em;
}
.videoEmbedContainer .oo-player-container {
    padding: 0!important;
    min-height: 260px;
    margin: 0 0 30px 0;
}
.videoEmbedContainer .oo-player-container  .oo-player {
    padding-top: 75%!important;
}
.bgWhite .grid {
    background-color: #fff!important;
}
.bgWhite .alignCenter {
    width: 100%;
    background: #f6f7f7 !important;
}
.footNote.bgLightBlue {
   background: #f6f7f7 !important;
   margin: 0;
   padding: 20px 0;
}
.bgWhite .piLink {
    padding: 40px 20px;
    background-color: #fff!important;
    margin: 0;
}
.bgWhite .piLink p {
    margin: 0;
    font-size: 1.125em;
    line-height: 1em;
}
.fluidBGWhatsOn {
    background: url(/siteassets/hcp-portal-master/therapy-areas/haematology/images/whatsonbg.jpg) no-repeat 66% 30%!important;
    background-size: cover;
}
.fluidBGWhatsOn .content {
    padding: 90px 0;
}
.fluidBGWhatsOn .content h2 {
    font-size: 3.125em;
    line-height: 1em;
    color: #fff;
    text-align: center;
}
.fluidBGWhatsOn .content p {
    font-size: 1.313em;
    line-height: 1em;
    color: #fff;
    text-align: center;
}

@media (max-width: 1024px) {
    #logo .logo-holder {
        position: relative;
        top: -5px;
        left: 5px;
        width: 140px;
        padding-top: 0;
    }
    .nav-mega {
        padding: 0 15px;
    }
    .videoEmbedContainer h3 {
        font-size: 1.1em;
    }
    .oo-player-container {
        min-width: 100%;
        min-height: auto!important;
    }
    .title_spot_block h2.title,
    .title_spot_block .header {
        top: 0;
    }
    .alignCenter {
        width: 90%;
    }

    .red {
        padding: 10px 35px;
    }

    .spotblock .red_background a.link, .spotblock .red_background_nvs a.link {
        margin: 40px 0 0 40px;
    }

}

@media (max-width: 768px) { 
    #logo .logo-holder {
        position: relative;
        top: -5px;
        left: 5px;
        width: 70px;
        padding-top: 0;
    }
    #logo .logo-holder .logo-wrapper img {
        width: 100%;
        height: auto;
    }
    a.nav-mega-link {
        padding: 1.2rem 1rem 0.5rem 1rem;
    }
    main {
        margin-top: 3.4rem;
    }
    .sub-menu {
        position: relative;
        top: 0px;
        width: 100%;
    }
    .bgImage .grid-1-2 {
        width: 50%;
    }
    .content_413 {
        height: auto;
        max-height: inherit;
    }
    .alignCenter {
        width: 100%;
    }
    .alignCenter .half {
        width: 50%;
    }
    .spotLayout-topimage .content .absolutePositionedBottom .widthHalf h4 {
        font-size: 1.2em!important;
    }
    .videoEmbedContainer {
        min-height: 500px;
    }
}

@media (max-width: 767px) { 
    #secondary-menu {
        right: 0!important;
        position: relative;
    }
    #secondary-menu #haem-logo {
        padding: 1.2rem 2rem 0.5rem 2rem;
    }
    #secondary-menu .nav-mega-link {
        display: none;
    }
    .nav-mega-wrapper #haem-logo {
        display: block;
        padding: 15px 30px;
        margin: 0;
    }
    .haem_background {
        background-image: none;
    }
    [class*="grid-"] {
        width: 100%!important;
    }
    #data-details .event--link {
        width: 49%!important;
        margin-left: 0.5%!important;
    }
    #data-details .event--link:nth-of-type(odd) {
/*        margin-left: 0!important;*/
    }
    .publicuserinterestpromptblock p {
        float: none;
        display: inline-block;
    }
    .publicuserinterestpromptblock .popup-controls {
        
    }
    .publicuserinterestpromptblock .popup-controls {
        
    }
    .fluidBGWhatsOn .content {
        padding: 90px 15px;
    }
    #content .grid .borderBottom h2 {
        margin: 0 0 10px 0;
    }
    .footNote.bgLightBlue {
        padding: 20px 15px;
    }
    #content .grid .textAlignRight {
        text-align: left;
    }
    #content .grid .internalLinks {
        margin-top: 10px;
    }
    #content .grid .internalLinks li:first-of-type {
        width: 100%;
    }
    .spotLayout-topimage .haem_ec_background.content_310 a.link {
        left: 20px;
    }
}

@media (max-width: 450px) { 
    #data-details .event--link {
        width: 99%!important;
        margin-left: 0.5%!important;
    }
}















