/*
- Document  : header.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-02-24
*/

[id=logo] {
	display: block;
    position: fixed;
    z-index: 5003;
    left: 1rem;
    display: block;
	@include before-desktop {
		top: 20px;
        display: none;
	}
	@include desktop {
		position: absolute;
        left: $grid-gutter;
	}
}
$mobile-logo-max-height: 58px;
$desktop-logo-max-height: 97px;
$mobile-logo-width: 124px;
$desktop-logo-width: 260px;
.logo-holder {
	width: $mobile-logo-width;
	height: 58px;
	display: block;
	text-align: left;
	vertical-align: middle;
	@include desktop {
		width: $desktop-logo-width;
		height: 97px;
		padding-top:15px;
	}
}
.logo-wrapper {
	font-size: 0;
	max-width: $mobile-logo-width;
	@include desktop {
		max-width: $desktop-logo-width;
	}
}
.logo {
	max-width: 100%;
	max-height: $mobile-logo-max-height;
	@include desktop {
		max-height: $desktop-logo-max-height;
	}
}
header {
	@include desktop{
		display:none;
	}

	@include tablet {
		display:none;
	}
    top: 0;
    position: fixed;
    margin-bottom: 20px;
    width: 100%;
    background: $color-white;
	overflow: visible;
	z-index: 99999;
	@include before-tablet {
		position: relative;
		height: auto;
		position: fixed;
	}
	@include before-desktop {
		transition: all .3s ease-in-out;
	}
	@include desktop {
		height: auto;
	}
	.morph-button-modal-2 > button, .morph-button-modal-2 .morph-content {
        color: $color-accent;
		svg {
			path {
				fill: $color-accent !important;
			}
		}
    }
	.navigation-service .morph-button > button {
		@include hover {
			background: transparent;
			color: inherit;
		}
	}
	.morph-button > button {
		color: #fff;
		svg {
			position: relative;
			top: 0;
			margin-bottom: -6px;
			path {
				fill: $color-grey-light5 !important;
			}
		}
		@include hover {
			text-decoration: none;
			color: $color-black;
			svg path {
				fill: $color-black !important;
			}
		}
		 .label {
			text-decoration: underline;
			@include no-hover {
				text-decoration: none;
			}
		}
	}
	.inner-width > a {
		display: block;
	}
	&> .inner-width {
		min-height: 58px;
		@include desktop {
			min-height: 97px;
		}
		 @include before-desktop {
		 	background-color: $color-grey-light6;
		 }
	}
	.no-touch & {
		.morph-button>button .label {
			min-width: 10px;
			text-decoration: underline;
		}
	}
	.morph-button {
		@include hover {
			&> button .label {
				text-decoration: none;
			}
		}
	}
	.subpage.mobile-search-subpage-is-ready &,
	.mobile-search-is-ready & {
		@include before-desktop {
			box-shadow: 0px 3px 7px 0px $color-trans-1;
		}
	}
	ul {
		font-size: 1.1428rem;
	}
}
.login.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent {
	&> {
		img, svg {
			height: 25px;
			left: 5px;
			position: absolute;
			top: 5px;
			width: 25px;
		}
	}
}

.mdl-menu__item {
	height: auto;
	line-height: auto;
	padding: 0;
	a {
		color: $color-accent;
		display: block;
		margin: 0;
		padding: 0 16px;
		height: 48px;
		line-height: 48px;
		user-select: none;
		cursor: pointer;
	}
}
.header-submenu-dropdown {
    z-index: 6000;
	position: fixed;
	top: 5px;
    .mdl-menu__container {
		&.is-visible, &.is-animating {
			position: absolute;
		}
		@include desktop {
			li:before {
				display: none;
			}
		}
    }
}

/*
- Document  : popup.scss
- Version   : 1.0.0
- Client    : Novartis ServiceSphere
- Date edit : 2016-03-04
*/

.hide { display: none; }

.popup {
    &-close {
        line-height: 2.8;
        position: relative;
        float: right;
        border: 2px solid #f9e1c9;
        border-radius: 50%;
        &:hover { border-color: #a50a05; }
    }
    &-content {
        padding: 1% 5%;
    }
    &-nav {
        @extend %clearfix;
        display: block;
        text-align: right;
	    margin-right: 1rem;
	    font-size: 2rem;
        cursor: pointer;
    }
    &-overlay {
        position: fixed;
        z-index: 10000;
        width: 100%;
        height:100%;
        text-align: center;
        background: rgba(167, 167, 167, 0.9);
    }
    &-wrapper {
        @extend %clearfix;
        display: inline-block;
        width: 80%;
        min-height: 50%;
        margin: 10% auto;
        background-color: #fff;
    }
}
