/*
- Document  : alerts.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-03-21
*/

/* Consts */
$color-alert-border: $color-grey-light;
$color-alert-count: $color-accent;
$color-alert-header-open: $color-accent;
$color-alert-icon-background: $color-accent;
$color-alert-icon: #fff;
$color-alert-open: $color-accent;
$color-alert-read: $color-grey-4;

.alertlistblock {
    &.grid-1-1 { 
		padding-top: 0;
	}
	.content-focused-page & {
		padding-top: $grid-gutter;
		.alert-warning {
			margin-top: -0.57142rem;
		}
	}
}
.alertconfigurationblock {
	&> div > h2 {
		margin-top: -0.571428rem;
	}
}

.alert {
    $root: &;
    
	&-category {
        width: 15%;
        font-weight: 600;
        position: relative;
        max-height: 8rem;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: linear-gradient(to bottom, transparent 45%, #e4e4e4);
        }
	}
    &-details {
        max-height: 0;
        overflow: hidden;
	}
	&-date {
        width: 17%;
        font-weight: 600;
	}
	&-header {
        width: 65%;
        user-select: none;
        cursor: pointer;
        h2 {
            margin: 0;
            display: inline-block;
            font-weight: 300;
            font-size: 2.25em;
        }
	}
    &-icon {
        position: absolute; 
        z-index: 9999999; 
        left: 8px;
        font-size: 10px; 
        background-color: $color-alert-icon-background;
        border-radius: 50%; 
        margin: -10px -10px 0 0; 
        color: white; 
        text-align: center;
        width: 2rem;
        height: 2rem;
        text-decoration: none;
        border: 2px solid #fff;
    }
	&-intro {
        height: 2em;
	    overflow: hidden;
        p { margin: 0; }
	}
	&-list {
		list-style-type: none;
        font-family: $font-family-base;
        font-size: 1rem;
        padding: 0;
        & details[open] {
            #{$root}-overview, #{$root}-category {
                max-height:none;
                &::after {
                    display:none;
                }
            }
            #{$root}-details {
                max-height: 30em;
                overflow: visible;
            }
            #{$root}-open { 
                opacity: 0; 
                max-height:none;
            }
        }
	}
	&-open {
        font-family: $font-family-default;
        color:  $color-alert-open;
        padding: 0 1em;
        opacity: 1;
        transition: opacity .3s;
	}
	&-overview {
        clear: both;
        border-top: 1px solid $color-alert-border;
        max-height: 8rem;
        overflow: hidden;

        @media (max-width: 600px) {
			.alert-category, .alert-date {
                display:none;
			}
		} 
        

        &::-webkit-details-marker { display: none; }
        & > * { 
            display: inline-block;
            vertical-align: middle;
            padding: 2%; 
        }
	}
    &-read {
        background: $color-alert-read;
    }
    &-text {
        padding: 3em 5% 3em 12%; 
        border: 1px solid $color-alert-border;
        overflow-y: auto;
    }
    &-warning {
        font-size: 1.125em;
        margin: 0 0 3em 0;
        &-count { 
            color: $color-alert-count;
        }
    }
}

/* Hacks*/

.grid-2-4 {
    .alert-overview {
        .alert-category {
            min-width:150px;
        }
        .alert-date {
            display:none;
		}
    }
}

.navigation-service li a.alert-icon {
	padding: 0;
    color: $color-alert-icon;
}