/*
- Document  : global.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-02-234
*/

/* Global layout Consts */
/* Fonts */
$layout-font-family-default:	$font-family-default;
$layout-font-family-base:		$font-family-base;
$layout-font-size-small:		1rem;
$layout-font-size-middle:		1.125rem;
/* Colors */
$layout-color-accent:			$color-accent;
$layout-background-color:		$color-white;
$layout-color-default:			$k-grey;
$layout-color-alt:				$main-color11;

/* Sizes */
$layout-max-width:				1240px;

* {
	box-sizing: border-box;
}
html, body {
	font-family: $layout-font-family-default;
	line-height: inherit;
	margin: 0;
	padding: 0;
	background: #f6f7f7;
}
body {
	overflow-x: hidden;
	color: $layout-color-default;
}
*:focus,
button:focus {
	outline: none;
}
ul, ol {
	font-size: $layout-font-size-middle;
}
p {
	margin: 14px 0;
	line-height: 1.6;
	font-size: $layout-font-size-small;
}
a {
	color: $layout-color-accent;
	font-weight: inherit;
}
button {
	font-family: $layout-font-family-default;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $layout-font-family-default;
}
h1, h2, h3 {
	line-height: 1.25;
	padding: 2px 0;
	font-weight: 600;
}
h1 {
	letter-spacing: 0;
	margin-top: 0;
	font-size: 2.1428rem;
	margin-bottom: 1rem;
}
h2 {
	font-size: 1.571rem;
}
h3 {
	font-size: 1.471rem;
}
h4 {
	font-size: 1.271rem;
}
h5 {
	font-size: 1.1rem;
}
h6 {
	font-size: 1rem;
}
img, video {
	height: auto;
	max-width: 100%;
}
blockquote {
	margin: 0 0 20px;
	padding: 0;
	position: relative;
}
nav {
	width: auto;
}
main {
	margin: 50px auto 0px auto;
	max-width: $layout-max-width;
	position: relative;
	z-index: 6;
	@extend %clearfix;
	@media (max-width: $breakpoint-tablet) {
		margin-top: 50px;
		padding-top: 0;
	}
	@media (min-width: $breakpoint-desktop + 1px) {
		margin-top: 90px;
		min-height: 200px;
	}
	&.default {
		font-size: $layout-font-size-small;
		p {
			font-family: $layout-font-family-base;
			font-size: $layout-font-size-small;
		}
	}
	.subpage & {
		article {
			padding: 0 15px;
			@include desktop {
				padding-right: 150px;
			}
		}
	}
}
.inner-width {
	margin: 0 auto;
	max-width: $layout-max-width;
	position: relative;
}
.content-heading-img {
	clear: both;
	img {
		display: block;
	}
	&-above-content {
		padding-bottom: 0.5rem;
	}
}
.event-page {
	.episerver & {
		.grid .grid {
			margin: 0;
		}
		.grid-content-sidebar, .grid-content {
			padding-right: 0;
		}
	}
}
.content-focused {
	&-page {
		p, blockquote, ul, ol {
			font-family: $layout-font-family-base;
			font-size: 1rem;
			line-height: 1.8;
		}
		ul, ol {
			margin-top: 0;
		}
		.episerver & {
			.grid .grid {
				margin: 0;
			}
			.grid-content-sidebar, .grid-content {
				padding-right: 0;
			}
			.grid-content .content-focused {
				padding-right: $grid-gutter;
			}
			.content-focused-page-headline {
				margin: 0;
			}
		}
		&> .grid > .grid-2-4, &> .grid > .grid-3-4 {
			&> .grid {
				margin-top: -$grid-gutter;
			}
		}
	}
	@include desktop {
		img {
			width: auto;
		}
	}
	&-page-headline {
		margin: 0;
		padding: 0;
		padding-bottom:1.875rem;
		font-size: 2.1428rem;
		line-height: 1.1;
		margin-top: -0.5rem;
		margin-bottom: 1.875rem;
		border-bottom: 3px #ccc solid;
	}

	.content {
		h1, h2, h3 { padding: 0; margin: 0 0 1rem 0; }
		h2:first-child {
			padding-bottom: 0;
			margin-bottom: 2.14285rem;
		}
		h3:first-child {
			padding-bottom: 0;
			margin-bottom: 2.07142rem;
		}
		h4:first-child {
			padding-bottom: 0;
			margin-bottom: 2rem;
		}
		h5:first-child {
			padding-bottom: 0;
			margin-bottom: 2.64285rem;
		}
		h6:first-child {
			padding-bottom: 0;
			margin-bottom: 2.42857rem;
		}
		p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
			&:first-of-type {
				margin-top: 0;
			}
		}
		$main-text-elements:						p,			h1,			h2,			h3,			h4,			h5,			h6,			blockquote,	ul,			ol;
		$main-text-elements-margin-for-alignment:	0.5,		0.642,		0.501,		0.3,		0.6424,		0.145,		0.572,		0.5,		0.471,		0.471;
		@for $i from 1 through length($main-text-elements) {
			#{nth($main-text-elements, $i)}:first-of-type {
				margin-top: -#{nth($main-text-elements-margin-for-alignment, $i)}rem;
					margin-top: -2.501rem;
					margin-bottom: -0.501rem;
					text-transform: uppercase;
				color: #006781
			}
		}

		&-holder {
			clear: both;
			padding-bottom: $grid-gutter;
		}
	}
	&-page {
		.sub-navigation { margin-top: 0; }
	}
}

.content-area {
	clear: both;
	@extend %clearfix;
}

.state {
	position: absolute;
	left: -10000px;
}
.nav-social {
	font-size: 1.1428rem;
	font-family: $layout-font-family-default;
	&-icon svg {
		width: 2rem;
		height: 2rem;
		fill: $layout-color-alt;
		fill-rule: evenodd;
		transition: all 0.3s ease;
	}
	.content-focused-page .content-holder & {
		padding-bottom: 0;
	}
	.content-focused-page & {
		padding-top: 0.4rem;
		padding-bottom: 0.82352rem;
		ul {
			font-size: 1.1428rem;
			font-family: $layout-font-family-default;
		}
	}
	&-copy {
		text-transform: uppercase;
		color: $layout-color-alt;
		padding-left: 0.5rem;
		transition: all 0.3s ease;
	}
	ul, li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&> ul > li {
		margin-right: 36px;
	}
	li, a > * {
		display: inline-block;
		vertical-align: top;
	}
	.spot .content & {
		a {
			text-decoration: none;
		}
	}
	a {
		transition: all .3s ease;
		@include hover {
			color: $layout-color-accent;
			.nav-social {
				&-icon svg {
					fill: $layout-color-accent;
				}
				&-copy {
					color: $layout-color-accent;
				}
			}
		}
	}
}

/* Hacks*/
.content-focused-page-headline {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.6em;
}

.kisqali--bold--blue{
	color:#006781 !important;
	font-size:2.5rem !important;
	font-weight:bold !important;
}

.kisqali--bold--orange{
	color:#ed6b20 !important;
	font-size:2.5rem !important;
	font-weight:bold !important;
}

.kisqali--large--blue{
	@extend .kisqali--bold--blue;
	font-size:1.5rem !important;
	line-height:1.2;
	font-weight:normal !important;
}

.kisqali--large--orange{
	@extend .kisqali--bold--orange;
	font-size:2rem !important;
	font-weight:normal !important;
}
