/*
- Document  : sub-navigation.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-02-24
*/

.sub-navigation {
    background: $color-white;
    display: block;

	li {
		display: inline-block;
		text-transform: uppercase;
	}
	&-items {
		padding: 0;
		background: $color-white;
		display: block;
		transition: all .3s ease 0s;
		min-width: 208px;
		font-family: $font-family-default;
		margin: 0;
		height: auto;
		width: auto;
		@include desktop {
			li {
				margin: 0;
				display: block;
				border-bottom: solid 1px $color-grey-light6;
				text-transform: uppercase;
				a {
					border: 0;
					padding: 1rem 0.51428rem;
					line-height: 1.6;
					border-radius: 0;
				}

			}
		}
		.no-touch & {
			li a:hover {
				color: $color-accent;
			}
		}
		li {
			&.active {
				> a {
					color: $color-accent;
				}
			}
		}
		a {
			border: solid 1px $color-border-dark;
			border-radius: 0.35714rem;
			padding: 0.35714rem 0.71285rem;
			@include prefixed(transition, all .3s ease-in-out);
			text-decoration: none;
			color: $color-grey-2;
			display: block;
			margin: 0.35714rem;
			@include desktop {
				margin: 0;
			}
		}
		@include desktop {
			min-height: 400px;
		}
		&> li {
			border: 0;
			clear: left;
			display: block;
			&> a {
				border-top: solid 1px $color-grey-light6;
				border-bottom: solid 1px $color-grey-light6;
			}
		}
		ul {
			padding: 0;
			li {
				padding-left: 20px;
			}
		}
	}
}