.formcontainerblock {
	padding: 0 15px 25px;
}
.Form__Title {
	margin: 0;
}
.FormStep__Title {
	color: $color-accent;
	font-family: $font-family-default;
	font-weight: normal;
	font-size: 2.1428rem;
	margin: 0;
}
.FormChoice {
    .mdl-checkbox, .mdl-radio {
        margin: 12px 0;
        @include tablet {
            margin: 5px 0;
        }
    }
}
.Form__Element {
    color: $color-grey-2;
}
.formcontainerblock {
	.EPiServerForms {
		.FormStep .FormStep__Description,
		.Form__Description {
			margin-bottom: 0;
		}
		.Form__Element__Caption {
			display: block;
			margin-top: 0.5rem;
			margin-bottom: 0.2rem;
		}
	}
}
.EPiServerForms nav {
	margin-top: 2.1428rem;
	text-align: right;
}
.EPiServerForms, body {
	.field-validation-error {
		color: $color-accent;
		font-size: 0.9714rem;
		padding: 3px 0;
	}
	.Form__MainBody {
		img {
			width: auto;
			max-width: 100%;
		}
		.Form__Element .Form__Element__ValidationError {
			color: $color-accent;
			font-size: 0.9714rem;			
			padding: 3px 0;
		}
	}		
	.Form__Element, * {
		.mdl-textfield, .mdl-selectfield, .mdl-file {
			width: 100%;
            margin-bottom: 0;
			@media all and (min-width: $tablet-size) {
				&[class*=grid-] {
					float: none;
					margin-right: -4px;
					padding: 20px 0;
				}
				&.grid-1-2, &.grid-2-4 {
					width: 45%;
				}
				&.grid-1-4 {
					width: 20%;
				}
				&.grid-3-4 {
					width: 70%;
				}
				&.grid-4-4 {
					width: 100%;
				}
			}
		}
	}
}
.Form__Element__ValidationError {
	font-family: $font-family-base;
	text-align: left;
}

.ajaxform {
	&.loading {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: $color-white;
			opacity: 0.5;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -16px;
			margin-top: -11px;
			width: 32px;
			height: 22px;
			background: url('../images/loader.gif') no-repeat;
		}
	}
}