.mdl-file {
	& .mdl-textfield__input[type=text] {
		width: 100%;
	}
	& .mdl-button {
		right: 0;
		& input[type=file] {
			cursor: pointer;
			height: 100%;
			right: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 300px;
			z-index: 4;
		}
	}
	.material-icons {
		transition: all 0.3s ease;
		width: 30px;
		overflow: hidden;
		font-size: 0;
		text-indent: 100%;
		background: url('data:image/svg+xml;utf8,<svg fill="#{$color-accent}" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" ><path d="M2 12.5C2 9.46 4.46 7 7.5 7H18c2.21 0 4 1.79 4 4s-1.79 4-4 4H9.5C8.12 15 7 13.88 7 12.5S8.12 10 9.5 10H17v2H9.41c-.55 0-.55 1 0 1H18c1.1 0 2-.9 2-2s-.9-2-2-2H7.5C5.57 9 4 10.57 4 12.5S5.57 16 7.5 16H17v2H7.5C4.46 18 2 15.54 2 12.5z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg>') no-repeat 0 0;
	}
}
.mdl-textfield .mdl-button {
	width: 30px;
}
.no-touch .EPiServerForms .mdl-file .mdl-button:hover {
	background: transparent;
	.material-icons {
		background: url('data:image/svg+xml;utf8,<svg fill="#{$color-grey-2}" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" ><path d="M2 12.5C2 9.46 4.46 7 7.5 7H18c2.21 0 4 1.79 4 4s-1.79 4-4 4H9.5C8.12 15 7 13.88 7 12.5S8.12 10 9.5 10H17v2H9.41c-.55 0-.55 1 0 1H18c1.1 0 2-.9 2-2s-.9-2-2-2H7.5C5.57 9 4 10.57 4 12.5S5.57 16 7.5 16H17v2H7.5C4.46 18 2 15.54 2 12.5z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg>') no-repeat 0 0;
	}
}