
<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<link href="../UI/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<meta name="description" content="ServiceSphere GB"/>
		<meta name="keywords"/>
		<title>ServiceSphere GB</title>


		<link rel="stylesheet" href="../UI/css/entresto/master.css" />



	</head>

	<body class="sectionpage">




		<!-- Mobile Mega-Menu State -->
<input type="checkbox" class="state nav-mega-toggle" id="tglMobileMenu" />
<!--Mega-Menu Overlay -->
<label for="tglMobileMenu" class="nav-overlay"></label>

	<div class="nav-mega-wrapper">
		<nav class="nav-mega" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">


				<input id="nav-mg-1" name="mgm" type="radio" class="state">
					<a href="/dcrm2-section-page/order-material-test-dcrm/"  class="nav-mega-link " itemprop="name">Order Material Test DCRM</a>
				<div class="nav-mega-panel">
					<nav class="nav-mega-sub">
						<strong><svg class="icon"><use xlink:href="../UI/images/icons.svg#icon-new-tab"></use></svg><a href="/dcrm2-section-page/order-material-test-dcrm/">Order Material Test DCRM</a></strong>

					</nav>

				</div>
		</nav>
	</div>


		<div><div class="block searchblock " id="content_10948"><div class="search-control-holder">
	<input class="nav-services-search search-input" type="text" placeholder="Search..." />
</div>
<section class="search-panel" id="search-panel" data-block="10948" data-lang="en-GB">
	<form class="search-panel-field" action="javascript:void(0)" autocomplete="off" itemscope itemtype="http://schema.org/WebSite">
		<meta itemprop="url" content="http://ssuk.edit.stage.servicesphere.novartis.episerverhosting.com/" />
		<div class="inner" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
			<meta itemprop="target" content="http://ssuk.edit.stage.servicesphere.novartis.episerverhosting.com/" />
			<input type="search" class="search-input in-search-panel" placeholder="Search..." id="query" name="query" itemprop="query-input" />
			<input type="submit" value="Search" id="header-search-submit" />
		</div>
	</form>
	<div class="search-panel-info" id="header-results-content">

	</div>
</section>
</div></div>

		<div id="pp-o" class="popup-overlay hide">
	<div class="popup-wrapper">
		<nav class="popup-nav" id="pp-x">&#215;</nav>
		<div id="pp-c" class="popup-content"></div>
	</div>
</div>

<header>
	<div class="inner-width" itemscope itemtype="http://schema.org/Organization">


		<a href="/" id="logo">
				<div class="logo-holder">
					<div class="logo-wrapper"><img itemprop="logo" class="logo" src="../globalassets/shared/logos/logo-horizontal.png" alt="ServiceSphere GB"/>
					</div>
					<input type="hidden" id="toptagline" value="Welcome to Novartis MedHub"/>
				</div>
		</a>

		<nav class="navigation-service">
			<ul><li class="block loggedinmenublock " id="content_10946"><div class="morph-button-control morph-button morph-button-overlay morph-button-fixed">
	<button class="popup help-button mdl-button mdl-js-button mdl-js-ripple-effect" data-target="/Popup/PopupLinkBlock/Popup/0?language=en-GB" type="button">
		<span class="label"></span>
	</button>
</div></li><li class="block popuplinkblock " id="content_11703"><div class="morph-button-control morph-button morph-button-overlay morph-button-fixed">
	<button class="popup help-button mdl-button mdl-js-button mdl-js-ripple-effect" data-target="/Popup/PopupLinkBlock/Popup/11703?language=en-GB" type="button">
			<img data-src="../globalassets/shared/icons/login_icon.svg"  class="lazy-image" width="22" height="22" alt="" src="" />
		<span class="label">Login</span>
	</button>
</div></li><li class="block loggedinmenublock " id="content_32680"><div class="morph-button-control morph-button morph-button-overlay morph-button-fixed">
	<button class="popup help-button mdl-button mdl-js-button mdl-js-ripple-effect" data-target="/Popup/PopupLinkBlock/Popup/0?language=en-GB" type="button">
		<span class="label"></span>
	</button>
</div></li></ul>
		</nav>

		<label for="tglMobileMenu" class="nav-mega-toggle-icon"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../UI/images/icons.svg#icon-menu"></use></svg></label>
	</div>
</header>

		<div class="hero">
	<h1></h1>

	<div class="hero-img-holder">
		<div class="hero-img-fader"></div>

<div><div class="block imagefile " id="content_5485"><img src="/siteassets/training-materials/main_1600.jpg" alt="main_1600" />
</div></div>
	</div>
</div>


<main id="content">
	<div><div class="block breadcrumbblock " id="content_10949"></div></div>    <div class="grid"><div class="block spotblock spot grid-1-1" id="content_13607">
	<div class="spotContainer visual headingColor-color12 headingAlignment-left headingStyle-normal iconColor-color12 textColor-color12 textAlignment-left textStyle-normal linkColor-color6 backgroundColor-color3 spotLayout-topimage trigger-change" itemscope itemtype="http://schema.org/CreativeWork">
	<div class="content">
		<div class="content-img">
			<img itemprop="thumbnailUrl" content="../globalassets/shared/svg/view.svg" src=""  class="lazy-image" data-src="../globalassets/shared/svg/view.svg" />
		</div>
	<div class="content-restrict">
			<h2 itemprop="headline" >Register Now</h2>
		<div itemprop="text" ><p>Register for Novartis MedHub</p></div>
	</div>
		<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="/system/registration/" />
		<span itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
			<a itemprop="url" class="link" href="/system/registration/"  >Go Now</a>
		</span>
	</div>
	</div>

	</div><div class="block spotblock spot grid-1-4" id="content_14631">
	<div class="spotContainer visual headingColor-color2 headingAlignment-left headingStyle-normal iconColor-color1 textColor-color1 textAlignment-left textStyle-normal linkColor-color1 backgroundColor-color4 spotLayout-topimage trigger-change" itemscope itemtype="http://schema.org/CreativeWork">
	<div class="content">
	<div class="content-restrict">
		<div itemprop="text" ><p>aaaaa</p></div>
	</div>
		<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="" />
		<span itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
			<a itemprop="url" class="link" href=""  >Read more</a>
		</span>
	</div>
	</div>

	</div></div>
</main>

		<footer id="site-specifics">
			<ul>
	<li class="logo-novartis-global">
		<a href="https://www.novartis.co.uk/" data-local-link target=blank><img src="../globalassets/shared/logos/logo-novartis-global.png" /></a>
	</li>

			<li><a href="/system/terms-of-use/">Terms of Use</a></li>
			<li><a href="/system/cookies-and-privacy-policy/">Cookies and Privacy Policy</a></li>

	<li class="copy-novartis-global">
		<p><span>©&nbsp;</span>Novartis 2016</p>

	</li>
</ul>

		</footer>

<div><div class="block externallinkdisclaimerblock " id="content_13628">    <div class="morph-content morph-content-separated morph-form popup-default" id="external-link-disclaimer" data-popupname="linkdisclaimer">
		<div class="content-style-overlay">
			<span class="icon icon-close">Close the dialog</span>
			<h2>REDIRECTING</h2>
				<div>You are now leaving this website. This link will take you to a website containing content that Novartis cannot be held responsible for. Our Privacy Policy does not apply. You are solely responsible for your interactions with that website.

Novartis Pharmaceuticals UK Ltd assumes no responsibility for the site or its content.</div>
						<div class="popup-controls">
				<button class="btn btn-cancel mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-action="cancel" aria-hidden="true">Cancel</button>
				<button class="btn btn-success mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-action="proceed">Continue</button>
			</div>
		</div>
	</div>
</div><div class="block cookiespromptblock " id="content_13629">    <div class="cookies-prompt">
		<div class="cookies-prompt-inner">
				<div class="cookies-prompt-control">
					<a class="accept cookies-prompt-btn" data-cookiename="cookies-accepted" data-cookievalue="accepted">Don&#39;t show me this again</a>
				</div>
			<div class="cookies-prompt-copy">
				<p><span>This website intends to use cookies to improve the site and your experience. By continuing to browse the site you are agreeing our use of cookies. If you require further information and/or do not wish to have cookies placed when using the site, visit&nbsp;</span><a class="no-cookie" title="Cookies and Privacy Policy" href="/system/cookies-and-privacy-policy/">Cookies and Privacy Policy</a><span>&nbsp;page.</span></p>
			</div>
		</div>
	</div>


</div></div>




		<!--[if lte IE 9]>
			<script src="../UI/js/ie-polyfills-for-mdl.js"></script>
		<![endif]-->

		<script src="https://ssuk.edit.stage.servicesphere.novartis.episerverhosting.com/bundles/ServiceSphere/script/master.js?v=CYf25CKgiaTILL8O_59k6hJAQdXCuwpuay2pd-HuBD41"></script>


		<!--[if lte IE 9]>
			<script src="../UI/js/ie-polyfills.js"></script>
		<![endif]-->






	</body>
</html>
