<!DOCTYPE html>
<html lang="en"><head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link href="/Themes/ServiceSphere/UI/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <meta name="description" content="Content page with Heading Image">
        <meta name="keywords">
        <title>Content page with Heading Image</title>


        <link rel="stylesheet" href="../UI/css/kisqali/master.css" />



    </head>

    <body class="contentpage">




        <!-- Mobile Mega-Menu State -->
<input type="checkbox" class="state nav-mega-toggle" id="tglMobileMenu">
<!--Mega-Menu Overlay -->
<label for="tglMobileMenu" class="nav-overlay"></label>

    <div class="nav-mega-wrapper">
        <nav class="nav-mega" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">


                <input id="nav-mg-1" name="mgm" type="radio" class="state">
                    <label for="nav-mg-1" class="nav-mega-label " itemprop="name">View</label>
                <div class="nav-mega-panel">
                    <nav class="nav-mega-sub">
                        <strong><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/icons.svg#icon-new-tab"></use></svg><a href="/view/">View</a></strong>

                    </nav>

                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/view/global-map/" class="">Global map</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/view/active-sites/" class="">SS country list</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/view/welcome-to-servicesphere-2.0/" class="">What is ServiceSphere 2.0</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/view/welcome-to-servicesphere-22.0/" class="">What is ServiceSphere 2.0</a>
                                </strong>
                            </nav>
                </div>
                <input id="nav-mg-2" name="mgm" type="radio" class="state">
                    <label for="nav-mg-2" class="nav-mega-label active" itemprop="name">Learn</label>
                <div class="nav-mega-panel">
                    <nav class="nav-mega-sub">
                        <strong><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/icons.svg#icon-new-tab"></use></svg><a href="/learn2/">Learn</a></strong>

                    </nav>

                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="http://kunde.valtech.dk/novartis/ServiceSphere2/designguide/#menu" class="" target="blank">New design guidelines</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/learn2/training-schedule/" class="">Training schedule</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/learn2/training-tutorials/" class="">Training tutorials</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/learn2/features-available/" class="active">Features catalogue</a>
                                </strong>
                            </nav>
                </div>
                <input id="nav-mg-3" name="mgm" type="radio" class="state">
                    <label for="nav-mg-3" class="nav-mega-label " itemprop="name">Interact</label>
                <div class="nav-mega-panel">
                    <nav class="nav-mega-sub">
                        <strong><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/icons.svg#icon-new-tab"></use></svg><a href="/interact/">Interact</a></strong>

                    </nav>

                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/interact/onboarding-process/" class="">Onboarding process</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/interact/process-checklist/" class="">Process checklist</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/interact/key-contacts-2/" class="">Key contacts</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/interact/documentation/" class="">Documentation</a>
                                </strong>
                            </nav>
                </div>
                <input id="nav-mg-4" name="mgm" type="radio" class="state">
                    <label for="nav-mg-4" class="nav-mega-label " itemprop="name">Measure</label>
                <div class="nav-mega-panel">
                    <nav class="nav-mega-sub">
                        <strong><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/icons.svg#icon-new-tab"></use></svg><a href="/measure/">Measure</a></strong>

                    </nav>

                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/measure/analytics/" class="">Analytics</a>
                                </strong>
                            </nav>
                            <nav class="nav-mega-sub">
                                <strong>
                                    <a href="/measure/best-practice-launch/" class="">Best practice measurement</a>
                                </strong>
                            </nav>
                </div>
        </nav>
    </div>


        <div><div class="block searchblock " id="content_47"><div class="search-control-holder">
    <input class="nav-services-search search-input" type="text" placeholder="Search....(2)">
</div>
<section class="search-panel" id="search-panel" data-block="47" data-lang="en">
    <form class="search-panel-field" action="javascript:void(0)" autocomplete="off" itemscope="" itemtype="http://schema.org/WebSite">
        <meta itemprop="url" content="https://sc.edit.stage.servicesphere.novartis.episerverhosting.com/">
        <div class="inner" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
            <meta itemprop="target" content="https://sc.edit.stage.servicesphere.novartis.episerverhosting.com/">
            <input type="search" class="search-input in-search-panel" placeholder="Search....(2)" id="query" name="query" itemprop="query-input">
            <input type="submit" value="Search" id="header-search-submit">
        </div>
    </form>
    <div class="search-panel-info" id="header-results-content">

    </div>
</section>
</div></div>

        <div id="pp-o" class="popup-overlay hide">
    <div class="popup-wrapper">
        <nav class="popup-nav" id="pp-x">×</nav>
        <div id="pp-c" class="popup-content"></div>
    </div>
</div>

<header>
    <div class="inner-width" itemscope="" itemtype="http://schema.org/Organization">


        <a href="/" id="logo">
                <div class="logo-holder">
                    <div class="logo-wrapper"><img itemprop="logo" class="logo" src="/globalassets/shared/logos/logo-horizontal.png" alt="ServiceSphere CX Hub">
                    </div>
                    <input type="hidden" id="toptagline" value="">
                </div>
        </a>

        <nav class="navigation-service">
            <ul><li class="block linkwithiconblock " id="content_8878"><a href="/learn2/features-available/features-available/branded-theme/features-html/" title="Help">
        <img data-src="/globalassets/shared/icons/help.svg" alt="" class="lazy-image" width="22" height="22" src="">
    <span class="label">Help</span>
</a></li><li class="block loggedinmenublock " id="content_8868"><div class="morph-button-control morph-button morph-button-overlay morph-button-fixed">
    <button class="popup help-button mdl-button mdl-js-button mdl-js-ripple-effect" data-target="/Popup/PopupLinkBlock/Popup/8869?language=en" type="button">
            <img data-src="/globalassets/shared/icons/login_icon.svg" class="lazy-image" width="22" height="22" alt="" src="">
        <span class="label">Login</span>
    </button>
</div></li><li class="block languageselectorblock " id="content_8877"><div class="language-selector-wrapper">
    <form method="POST" action="/LanguageSelector/LanguageSelector/ChangeLanguage">
        <input name="pageId" type="hidden" value="8839">
        <select class="language-selector" id="languageBranch" name="languageBranch" onchange="this.form.submit();">
                <option value="en" selected="">English</option>
        </select>
    </form>
</div></li></ul>
        </nav>

        <label for="tglMobileMenu" class="nav-mega-toggle-icon"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/icons.svg#icon-menu"></use></svg></label>
    </div>
</header>

        <div class="hero">
    <h1>ServiceSphere Customer Experience Hub</h1>

    <div class="hero-img-holder">
        <div class="hero-img-fader"></div>

<div><div class="block carouselblock " id="content_73"><div class="content visual textColor- textBackgroundColor-">
    <div class="carousel" data-interval="0" data-autorotation="false" data-flexmode="False">

            <a class="carousel-item" data-imagetext="Learn about entresto" href="https://edit.stage.servicesphere.novartis.episerverhosting.com/en/products2/entresto/">
                <div class="carousel-item-img" style="background-image: url(https://edit.stage.servicesphere.novartis.episerverhosting.com/en/SysSiteAssets/common/bg-entresto-photo.jpg)"></div>
                <img class="carousel-item-img-hero" src="https://edit.stage.servicesphere.novartis.episerverhosting.com/en/SysSiteAssets/common/bg-entresto-photo.jpg">
            </a>
                <div class="text"></div>

    </div>
</div>
</div></div>
    </div>
</div>


        <main id="content" class="spot content-focused-page">

<div><div class="block breadcrumbblock " id="content_2237">    <div class="grid">
        <div class="grid-1-1 spot spotblock breadcrumbs">
            <div class="content">
                    <a href="/learn2/">Learn</a>
                        &gt;
                    <a href="/learn2/features-available/">Features catalogue</a>
                        &gt;
                    <a href="/learn2/features-available/features-available/">Features available</a>
                        &gt;
                    <a href="/learn2/features-available/features-available/branded-theme/">Branded theme</a>
                        &gt;
                    <a href="/learn2/features-available/features-available/branded-theme/features-html/">HTML for local agencies</a>
                        &gt;
                    <a href="/learn2/features-available/features-available/branded-theme/features-html/entresto/">Content page with Heading Image</a>
            </div>
        </div>
    </div>
</div></div>
    <div class="grid">

    <div class="grid-1-4 mobile-grid-1 tablet-grid-1">
        <nav class="sub-navigation">
            <ul class="sub-navigation-items">
                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/"><span>HTML for local agencies</span></a>
                            <ul>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/accordion/"><span>Section Page with Accordion</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/carousel/"><span>Carousel</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/content-page/"><span>Content Page, Breadcrumbs, CallToAction Block</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/content-page-with-right-column/"><span>Content page with Right column</span></a></li>
                                    <li class="active"><a href="/learn2/features-available/features-available/branded-theme/features-html/entresto/"><span>Content page with Heading Image</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/spots/"><span>Spots</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/heart-failure-2016/"><span>Event Page</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/cookies-prompt-block/"><span>Cookies Prompt Block</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/external-link-disclaimer/"><span>External Link Disclaimer</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/language-selector/"><span>Language Selector</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/login/"><span>Login, Reset Password Form</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/edit-profileregister-form/"><span>Edit Profile/Register form</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/forms/"><span>Forms</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/list-spots/"><span>List Spots</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/overviewlist/"><span>Overview List</span></a></li>
                                    <li><a href="/learn2/features-available/features-available/branded-theme/features-html/video/"><span>Video</span></a></li>
                            </ul>
                    </li>
            </ul>
        </nav>
    </div>



        <div class="grid-3-4 grid-content">
            <div class="content-focused">
                <div class="content">

                    <div class="content-heading-img content-heading-img-above-content">
                        <img src="https://edit.stage.servicesphere.novartis.episerverhosting.com/en/SysSiteAssets/common/entresto-heading.jpg">
                    </div>
                                            <nav class="nav-social">
        <ul>
    <li data-epi-block-id="108">
        <a href="#print" data-print="/Themes/ServiceSphere/UI/css/print.css">
            <span class="nav-social-icon">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/share/icons.svg#icon_print"></use></svg>
            </span>
            <span class="nav-social-copy"><strong>Print</strong></span>
        </a>
    </li>

    <li data-epi-block-id="108">
<form action="/ContentCallToAction/ContentCallToAction/PageAsPdf" area="ContentCallToAction" id="downloadpdf-form" method="post"><input id="url" name="url" type="hidden" value=""><input id="filename" name="filename" type="hidden" value="Content page with Heading Image">            <a href="#pdf" id="pdfdownload">
                <span class="nav-social-icon">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/share/icons.svg#icon_save"></use></svg>
                </span>
                <span class="nav-social-copy"><strong>Save</strong></span>
            </a>
</form>    </li>

        </ul>
    </nav>
                    <div class="content-holder">
                        <p><img style="float: right;" alt="Entresto" src="/siteassets/learn/features-html/product-entresto.jpg" height="260" width="480"></p>
<h2 style="text-transform: uppercase; color: #374a5a; text-align: center; font-size: 24px; font-style: italic; font-family: Verdana; font-weight: normal;">LCZ696 is <span style="font-weight: bold;">now approved</span> as Entresto™</h2>
<p>ENTRESTO™ is indicated to reduce the risk of cardiovascular death and hospitalization for heart failure in patients with chronic heart failure (NYHA Class II–IV) and reduced ejection fraction.</p>
<p>&nbsp;</p>
<p>ENTRESTO is usually administered in conjunction with other heart failure therapies, in place of an ACE inhibitor or other ARB. ENTRESTO is contraindicated in patients with hypersensitivity to any component. ENTRESTO is contraindicated in patients with a history of angioedema related to previous angiotensin-converting enzyme (ACE) inhibitor or angiotensin receptor blocker (ARB) therapy. ENTRESTO is contraindicated with concomitant use of ACE inhibitors. Do not administer within 36 hours of switching from or to an ACE inhibitor. ENTRESTO is contraindicated with concomitant use of aliskiren in patients with diabetes.</p>
<p>&nbsp;</p>
<p><span>View page source code to get html.</span></p>
                            <nav class="nav-social">
        <ul>
    <li data-epi-block-id="108">
        <a href="#print" data-print="/Themes/ServiceSphere/UI/css/print.css">
            <span class="nav-social-icon">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/share/icons.svg#icon_print"></use></svg>
            </span>
            <span class="nav-social-copy"><strong>Print</strong></span>
        </a>
    </li>

    <li data-epi-block-id="108">
<form action="/ContentCallToAction/ContentCallToAction/PageAsPdf" area="ContentCallToAction" id="downloadpdf-form" method="post"><input id="url" name="url" type="hidden" value=""><input id="filename" name="filename" type="hidden" value="Content page with Heading Image">            <a href="#pdf" id="pdfdownload">
                <span class="nav-social-icon">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Themes/ServiceSphere/UI/images/share/icons.svg#icon_save"></use></svg>
                </span>
                <span class="nav-social-copy"><strong>Save</strong></span>
            </a>
</form>    </li>

        </ul>
    </nav>

                    </div>
                </div>
            </div>
<div class="grid"><div class="block spotblock spot grid-1-2" id="content_8799">
<div class="spotContainer visual headingColor-color11 headingAlignment-center headingStyle-normal iconColor- textColor-color8 textAlignment-center textStyle- linkColor- backgroundColor-color7 spotLayout-normal" itemscope="" itemtype="http://schema.org/CreativeWork">

    <div class="content">
        <div class="content-restrict">
            <h2>&nbsp;</h2>
<h2>I no longer see myself spending my entire career exclusively in<br>research. I’m determined to blend my love of science with advocacy<br>and outreach to the developing world</h2>
<p>Manishha Patel,<br>Power of One campaign</p>
        </div>
            <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://edit.stage.servicesphere.novartis.episerverhosting.com/en/">
            <span itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <a itemprop="url" class="link" href="https://edit.stage.servicesphere.novartis.episerverhosting.com/en/" target="blank">Read more</a>
            </span>
    </div>
</div>

</div><div class="block spotblock spot grid-1-4" id="content_8800">    <a class="spotContainer visual no-content headingColor-color2 headingAlignment-center headingStyle- iconColor- textColor-color1 textAlignment-center textStyle- linkColor- backgroundColor-color7 spotLayout-background imageFocus-center" style="background-image:url('/siteassets/learn/features-html/image-nice.jpg')" siteassets="" learn="" features-html="" image-nice.jpg="" href="/">

    </a>


</div></div>        </div>
    </div>
</main>

        <footer id="site-specifics">
            <ul>
    <li class="logo-novartis-global">
        <a href="http://novartis.com/" data-local-link="" target="blank"><img src="/siteassets/common/logo-novartis-global.png"></a>
    </li>

            <li><a href="http://novartis.com/" target="_blank">Novartis</a></li>
            <li><a href="https://edit.stage.servicesphere.novartis.episerverhosting.com/en/">ServiceSphere Test Server</a></li>

    <li class="copy-novartis-global">
        <p><span>©&nbsp;</span>Novartis 2015</p>
         NP4 Number for Entresto
    </li>
</ul>

        </footer>

<div><div class="block externallinkdisclaimerblock " id="content_8876">    <div class="morph-content morph-content-separated morph-form popup-default" id="external-link-disclaimer" data-popupname="linkdisclaimer">
        <div class="content-style-overlay">
            <span class="icon icon-close">Close the dialog</span>
            <h2>Link Disclaimer</h2>
                <div>You are about to leave the site, are you sure?</div>
                        <div class="popup-controls">
                <button class="btn btn-cancel mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-action="cancel" aria-hidden="true">Cancel</button>
                <button class="btn btn-success mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-action="proceed">OK</button>
            </div>
        </div>
    </div>
</div></div>




        <!--[if lte IE 9]>
            <script src="/Themes/ServiceSphere/UI/js/ie-polyfills-for-mdl.js"></script>
        <![endif]-->

        <script src="/bundles/ServiceSphere/script/master.js?v=Pg8Q5kvREtyR_HsOoFuKJPEYg8DuF_PeNQ_JHQYmiJg1"></script>


        <!--[if lte IE 9]>
            <script src="/Themes/ServiceSphere/UI/js/ie-polyfills.js"></script>
        <![endif]-->








</body></html>
