/*
- Document  : sub-navigation.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-02-24
*/

.sub-navigation {
	// background: $color-white;
	display: block;
	padding-top: 60px; // kisqali logo space
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 140px;
		height: 66px;
		top: 0;
		left: 0;
		background-image: url(./../img/afinitor_side_logo.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	li {
		display: inline-block;
		// text-transform: uppercase;
	}
	&-items {
		padding: 10px 0 0 0;
		// background: $color-white;
		display: block;
		transition: all .3s ease 0s;
		min-width: 208px;
		font-family: $font-family-default;
		margin: 0;
		height: auto;
		width: auto;
		@include desktop {
			li {
				margin: 0;
				display: block;
				// border-bottom: solid 1px $color-grey-light6;
				// text-transform: uppercase;
				a {
					border: 0;
					padding: 0.4rem 0.51428rem;
					line-height: 1.6;
					border-radius: 0;
				}

			}
		}
		.no-touch & {
			li a:hover {
				color: $color-accent;
			}
		}
		li {
			&.active {
				> a {
					color: $color-brown1;
				}
			}
		}
		a {
			border: solid 1px $color-border-dark;
			border-radius: 0.35714rem;
			padding: 0.35714rem 0.71285rem;
			@include prefixed(transition, all .2s linear);
			text-decoration: none;
			color: $color-grey-light8;
			display: block;
			margin: 0.35714rem;
			&:hover, &:active, &:focus {
				background: #fff;
				color: #666;
			}
			@include desktop {
				margin: 0;
			}
		}
		@include desktop {
			min-height: 400px;
		}
		&> li {
			border: 0;
			clear: left;
			display: block;
			&> a {
				// border-top: solid 1px $color-grey-light6;
				// border-bottom: solid 1px $color-grey-light6;
			}
		}
		ul {
			padding: 0;
			li {
				// padding-left: 20px;
			}
		}
	}
}
