.block-accordion {
	/* Top Margin-Fix */
	.accordionblock &:first-of-type > * { margin-top: 0; }

	&.content {
		[class*="grid-"] > & {
			overflow: visible;
			height: auto;
		}
	}
	&-label {
		background-color: #fce9de;
		color: #666;
		display: block;
		padding: 1.1428rem 2.2856rem 1.1428rem 1.1428rem;
		position: relative;
		font-size: 1rem;
		font-weight: bold;
		&:before {
			top: 1.1428rem;
			right: 0.914rem;
			position: absolute;
			content:'+';
		}
	}
	&-text {
		display: none;
		background-color: $color-white;
		padding: 1.1428rem;
		h5 {
			margin: 0;
		}
	}
	.state {
		//position: absolute;
		//height: 0;
		//overflow: hidden;
		&:checked {
			&+ label {
				&:before {
					content:'-';
				}
			}
			&~ .block-accordion-text {
				display: block;
			}
		}
	}
}

.block-accordion-item:not(:first-child) {
	margin-top: 10px;
}
