.overviewlistspotblock.spot {    
	@for $i from 1 through length($main-colors) {
		.backgroundColor-color#{$i} .content {
			background-color: nth($main-colors, $i);
		}
	}
	@for $i from 1 through length($main-colors) {
		.linkColor-color#{$i} .link {
			color: nth($main-colors, $i);
		}
	}
	&> .spotContainer {
		&> .grid-1-1 {
			padding-top: 0;
			padding-right: 0;
		}
		.grid-3-4, .grid-1-4 {
			width: 100%;
			@include phablet {
				width: 50%;
			}
		}
		.grid-1-4 {
			@include desktop {
				width: 25%;
			}
		}
		.grid-3-4 {
			@include desktop {
				width: 75%;
			}			
		}
		.grid-3-4 .content {
			height: auto;
		}
	}
	.spotLayout-topimage .content-restrict {
		max-height: 160px;
	}
	.spotContainer {
		background-color: transparent;
		overflow: visible;
		height: auto;
	}
	.grid {
		padding-top: 0;
		margin-right: -$grid-gutter;
		.content {
			padding: 20px;
		}
		[class*="grid-"] {
			height: auto;
		}
		&> .grid-1-1 {
			padding-top: 0;
		}
	}
	.spotContainer > .grid {
		padding-bottom: 0;
	}
    select {
        float: right;
		margin-top: 13px;
    }
    .content-img {	
		padding: 20px 20px 0;
		overflow: hidden;
		height: 159px; 
		position: static;
        margin-bottom: 30px;
		text-align: center;
		img {
			width: auto;
			max-height: 139px;
		}
    }
	.content {
		h2 {
			display: block;
			font-size: 1.4rem;
			font-weight: 200;
			margin-top: 10px;
			text-transform: uppercase;			
		}
		.spotblock > h2 {
			color: inherit;
		}
	}
    .spotLayout-list {
		@for $i from 1 through length($main-colors) {
			&.backgroundColor-color#{$i} {
				background-color: nth($main-colors, $i);
			}
		}
        .content {
            border: none;  
			padding-bottom: 40px;          
        }
        img {
            width: auto; 
			max-width: 100%;
        }  
		&> .grid > .grid-1-4 {
			text-align: center;
			&> img {
				max-height: 10.28574rem;
			}
		}
		a.link {
			text-decoration: none;
			padding-right: 20px;
			right: 20px;
			font-size: 1rem;
			line-height: 1;
			font-family: $font-family-default;
			bottom: 20px;
			&:before {
				background: none;
				content: '>';
				font-size: 13px;
				position: absolute;
				width: 6px;
				height: 10px;
				right: 9px;
				bottom: 2px;
			}
		}
    }
    .grid-item {   
        .content {
            height: 400px;
        }        
    }
}
.category-filter {
    &-wrapper {
        float: right;
        margin-top: 1rem;
        min-width: 17rem;
        select {
            width: 100%;
        }
        .select2-container--default {
            .select2-selection--single {
                border-radius: 0;
                .select2-selection {
                    &__rendered {
                        color: $color-grey-dark2;
                        font-size: 1.28571rem;
                        text-transform: uppercase;
                        line-height: 1.71428rem;
                    }
                    &__arrow {
                        width: 1.21428rem;
                        right: 0.42857rem;
                        b {
                            border-color: $color-grey-dark2 transparent transparent transparent;
                            border-width: 0.85714rem 0.571428rem 0 0.571428rem;
                            margin-left: -0.571428rem;
                            margin-top: -0.42857rem;
                        }
                    }
                }
            }
            &.select2-container--open .select2-selection--single {
                .select2-selection {
                      &__arrow {
                        width: 1.21428rem;
                        right: 0.42857rem;
                        b {
                            border-color: transparent transparent $color-grey-dark2 transparent;
                            border-width: 0 0.571428rem 0.85714rem 0.571428rem;
                            margin-left: -0.571428rem;
                            margin-top: -0.42857rem;
                        }
                    }  
                }
            }
        }
    }
}
