/*
- Document  : video.scss
- Version   : 1.0.0
- Client    : ServiceSphere 2.0
- Date edit : 2016-02-24
*/

.vjs-has-started {
    z-index: 2;
}
.vjs-remaining-time {
    display: none;
}
.video-js .vjs-big-play-button {
    width: 99px;
    height: 99px;
    background: url(../search/images/button-video-play.png) no-repeat !important;
    background-size: cover;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    border: 0;
    &:before, &:after {
        display: none;
    }
	.content & {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}
.video-label {
    position: absolute;
    right: 17px;
    bottom: 29px;
    padding: 13px 27px;
    text-transform: uppercase;
    font-size: 24px;
    z-index: 1;
	cursor: pointer;
	.spot & {
		transition: all .3s ease;
	}
}
.vjs-poster {
    background-size: cover;
}
.video-thumb .video-js {
    margin: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-thumb-white {
    .video-js .vjs-big-play-button {
        background: url(../images/button-video-play-dark.png) no-repeat !important;
    }
}