.search-control-holder, #search-panel, .nav-mega-wrapper, .navigation-service .search-init-holder, .navigation-service .search-init-holder + li:before, .nav-mega-toggle-icon {
  display: none!important; 
  }

$max-desktop: 1200px;

.inner-width, main {
  width: 100%;
  max-width: $max-desktop; 
}

footer *, .navigation-service li * {
   font-size: 0.9rem!important;
}
.Form__Title {color: $color-accent; padding-bottom: 25px; font-size: 1.571rem; }
.EPiServerForms .Form__Element.FormSubmitButton {background-color: $color-accent; color: white;}

main#content {
 margin-top: 240px;
  @include before-desktop {
     margin-top: 0
  }
}
.spotblock .content a.link {
  position:relative!important;
  bottom: auto!important;
}

h1, h2, h3, h4, h5, h6 {text-transform: uppercase!important;}

.backgroundColor-color12 .content {
   border-color: $color-accent!important;
}

.spotblock .content .content {padding: 0;}

.grid-1-2 .spotLayout-background .content .background {
    width: calc(100% - 35px);
}

.spotLayout-background .content {
   height: 100%;
}

.EPiServerForms   {
  background-color: #f6f6f6;
  padding: 15px;
 }

 .EPiServerForms .Form__Element.FormSubmitButton {
    float: none!important;
 }

.EPiServerForms .FormStep, body .FormStep, .EPiServerForms .FormStep {
    text-align: center;	
 }
 .mdl-checkbox {text-align: left; }
 body {color: $color-grey-dark2;}
 .FormChoice * {font-size: 1rem;}
 .spotblock .content { padding-top:10px!important;}
 .navigation-service .label {font-size: 0.9rem;}

 .popup-default.morph-content .content-style-overlay > *, .popup-default.morph-content .content-style-overlay p {
    font-size: 1rem!important;
}
.mdl-textfield__input, .mdl-textfield__label  {font-size:14px!important;}