.nav-mega-wrapper, 
.searchblock, 
header, 
.hero, 
footer, 
.state,
.nav-overlay,
.nav-social,
.breadcrumbblock,
#epi-quickNavigator,
.sub-navigation { 
    display: none !important; 
}
main {
    margin-top: 0 !important;
}
[class*="grid-"] {
    float: none;
    width: 100%;
}
